/*----------------------------TOP-NAV-BAR---------------------------*/
#top-nav {
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    height: 15.5vw;
    color: #374047;
    background-color: #374047;
    padding-top: 1.5vh;
    padding-bottom: 1vh;
}

#profile-options {
    box-sizing: border-box;
    float: right;
    font-size: 1.5em;
    padding: 1vw 2.5vw 1vw 2.5vw;
    margin: 0vw 5vw;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

#navbar-username {
    box-sizing: border-box;
    float: left;
    line-height: 10vw;
    padding-right: 1vw;
    padding-left: 1vw;
    font-size: 1.1em;
    letter-spacing: 1px;
    color: white;
}

#user-dp {
    box-sizing: border-box;
    padding: 0;
    float: left;
}
#user-dp img {
    border-radius: 50%;
    background-color: rgb(248, 248, 248);
    border: 2px solid rgb(248, 248, 248);
    max-width: 8vw;
    max-height: 5vh;
    overflow: hidden;
    margin: 0vh 0vw 0vw 2vw;
}