/*----------------------------Progress-Bar-----------------------------------*/
.progress-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0;
    margin-top: 2vh;
    background-color: transparent;
    width: 50vw;
    height: 10vw;
    z-index: 2;
    text-align: center;
    font-size: 1.2em;
    margin-left: 27vw;
}

.progress-bar div {
    border: 1px solid #374047;
}

#progress-bar-1, #progress-bar-3, #progress-bar-5 {
    border-radius: 100%;
    color: white;
    line-height: 10vw;
}

#progress-bar-3, #progress-bar-5 {
    color: #374047;
    animation: Progressbar1 0.5s forwards 0s ease-in-out;
}

#progress-bar-2, #progress-bar-4 {
    margin-top: 49%;
    height: 2px;
    border-left: none;
    border-right: none;
}

#progress-bar-4 {
    animation: Progressbar1 0.5s forwards 0s ease-in-out;
}

.progress-bar-status {
    background-color: #374047;
    animation: Progressbar 0.5s forwards 0s ease-in-out;
}

@keyframes Progressbar {
    0% {
        transform: translateX(-70px);
        opacity: 0.1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes Progressbar1 {
    0% {
        transform: translateX(-50px);
        opacity: 0.2;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/*---------------------------------------------------------------------------*/
#home-address {
    box-sizing: border-box;
    text-align: start;
    padding: 10vw;
    width: 100vw;
    animation: home-work-address 1s forwards 0s ease-in-out;
}

#work-address {
    box-sizing: border-box;
    text-align: start;
    padding: 10vw;
    width: 100vw;
    animation: home-work-address 1s forwards 0s ease-in-out;
}

#header {
    margin: 0;
    padding: 3vh;
    color: white;
    background-color: #374047;
    font-size: 1.2em;
}

#home-address p:first-child, #work-address p:first-child {
    width: calc(70vw + 3vh);
    border-bottom: 1px solid #374047;
    font-size: 1.2em;
    margin-top: 0;
}

#full-name, #address-line1, #address-line2, #pincode, #contact-number, #nine-one, #nature-of-business {
    box-sizing: border-box;
    display: block;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 1.5vh;
    width: 70vw;
}

input[type = "text"]:focus, input[type = "number"]:focus {
    border: 1px solid black;
}


#address-line1, #address-line2 {
    margin-bottom: 0vw;
    margin-top: 1vw;
}

#address-line1 {
    margin-top: 2vh;
}

#pincode {
    width: 35vw;
    margin-top: 1vw;
}

#contact-number {
    box-sizing: border-box;
    display: inline-block;
    width: 48.8vw;
}

#nine-one {
    box-sizing: border-box;
    display: inline-block;
    width: 20vw;
    background: transparent;
    border-radius: 5px;
    padding: 1.5vh;
    border: 1px solid #CCC;
    color: black;
}

select * {
    background-color: transparent;
}

/*body * {
  border: 1px solid burlywood;
}*/

#next img {
    width: 10vw;
}

#next {
    float: right;
    padding: 0;
    margin: 0;
    margin-top: 2vh;
}

/*------------------------------------------------------------------------------------------------*/

@keyframes home-work-address {
    0% {
        transform: scale(0) translateX(500vw);
    }
    50% {
        transform: scale(0) translateX(100vw);
    }
    100% {
        transform: scale(1) translateX(0);
    }
}

/*------------------------------------------------------------------------------------------------*/