#heading {
    box-sizing: border-box;
    margin: 0;
    padding: 3vh;
    color: white;
    background-color: #374047;
    font-size: 1.2em;
}
/*------------------Progress-Bar-----------------------------------------------------------*/
.progress-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0;
    margin-top: 2vh;
    margin-left: 2vw;
    background-color: transparent;
    width: 50vw;
    height: 10vw;
    z-index: 2;
    text-align: center;
    font-size: 1.2em;
    margin-left: 25vw;
}

.progress-bar div {
    border: 1px solid #374047;
    box-shadow: 3px 3px 3px #CCC;
}

#progress-bar-1, #progress-bar-3, #progress-bar-5 {
    border-radius: 100%;
    color: white;
    line-height: 10vw;
}

#progress-bar-3, #progress-bar-5 {
    animation: Progressbar1 0.5s forwards 0s ease-in-out;
}

#progress-bar-5 {
    animation: Progressbar2 0.5s forwards 0s ease-in-out;
}

#progress-bar-2, #progress-bar-4 {
    margin-top: 49%;
    height: 2px;
    border-left: none;
    border-right: none;
    box-shadow: 3px 3px 3px #CCC;
}

#progress-bar-4 {
    animation: Progressbar1 0.5s forwards 0s ease-in-out;
}

.progress-bar-status {
    background-color: #374047;
    animation: Progressbar 0.5s forwards 0s ease-in-out;
}

@keyframes Progressbar {
    0% {
        transform: translateX(-70px);
        opacity: 0.1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes Progressbar1 {
    0% {
        transform: translateX(-60px);
        opacity: 0.1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes Progressbar2 {
    0% {
        transform: translateX(-50px);
        opacity: 0.1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/*------------------------------------------------------------------------------------------*/

main {
    box-sizing: border-box;
    padding: 10vw;
    text-align: start;
}

#search-pincode {
    box-sizing: border-box;
    margin-top: 2vh;
    padding: 4vw;
    border-radius: 5px;
    padding-left: 13vw;
    background-image: url("/img/search-1.png");
    background-repeat: no-repeat;
    background-size: 7vw;
    background-position: 3vw 1.5vh;
    font-size: 1em;
    width: 75vw;
}

#selected-pincodes {
    display: none;
    box-sizing: border-box;
    margin-top: 2vh;
    border: 1px solid #CCC;
    width: 75vw;
    border-radius: 5px;
    padding: 3vw;
}

#selected-pincodes p {
    all: unset;
    font-size: 1.1em; 
    border-bottom: 1px solid #CCCCCC;
}

#selected-pin-content {
    margin-top: 2vh;
}

#selected-pin-content ul li {
    margin-left: -5vw;
    line-height: 3.5vh;
    max-width: 60vw;
}

#selected-pincode-ul {
    list-style-type: decimal;
    max-width: 50vw;
}

#selected-pincode-ul li div div:nth-child(2) {
    font-size: 0.95em;
}

.select-timings {
    display: none;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 5px;
    padding: 1vh;
    margin-left: 1vw;
    margin-top: 1vh;
    max-height: 8vh;
    font-size: 1em;
}
.select-timings:first-child {
    margin-top: 0;
}

.add-timing-icon, .remove-timing-icon{
    display: none;
    float: right;
    font-size: 2em;
    font-weight: 900;
    margin-right: 5vw;
}

.remove-pincode {
    float: right;
    margin-right: 5vw;
    color: #374047;
    font-size: 2em;
    cursor: pointer;
    font-weight: 900;
}

#next {
    box-sizing: border-box;
    position: relative;
    float: right;
    bottom: 0;
    margin-top: 5vh;
    margin-right: 5vw;
    background-color: #374047;
    color: white;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 1em;
}