#heading {
    box-sizing: border-box;
    margin: 0;
    padding: 3vh;
    color: white;
    background-color: #374047;
    font-size: 1.2em;
}

main {
    box-sizing: border-box;
    padding: 10vw;
    text-align: start;
}

#search-pincode {
    box-sizing: border-box;
    margin-top: 2vh;
    padding: 5vw;
    border-radius: 5px;
    padding-left: 13vw;
    background-image: url("/img/search-1.png");
    background-repeat: no-repeat;
    background-size: 8vw;
    background-position: 3vw 1.5vh;
    font-size: 1em;
    width: 75vw;
    transition: width 0.4s ease-in-out;
}

#selected-pincodes {
    display: none;
    box-sizing: border-box;
    margin-top: 2vh;
    border: 1px solid #CCC;
    width: 75vw;
    border-radius: 5px;
    padding: 3vw;
}

#selected-pincodes p {
    all: unset;
    font-size: 1.1em; 
    border-bottom: 1px solid #CCCCCC;
}

#selected-pin-content {
    margin-top: 2vh;
}

#selected-pin-content ul li {
    margin-left: -5vw;
    line-height: 3.5vh;
    max-width: 60vw;
}

#selected-pincode-ul {
    list-style-type: decimal;
    max-width: 50vw;
}

#selected-pincode-ul li div div:nth-child(2) {
    font-size: 0.95em;
}

.select-timings {
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 5px;
    padding: 0.5vw 1vw;
    margin-left: 1vw;
    display:none;
}

.remove-pincode {
    float: right;
    margin-right: 5vw;
    color: #374047;
    font-size: 2em;
    cursor: pointer;
    font-weight: 900;
}

#next {
    box-sizing: border-box;
    position: relative;
    float: right;
    bottom: 0;
    margin-top:2vh; 
    background-color: #374047;
    color: white;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 1em;
    padding: 3vw 5vw;
}
/*
body * {
    border: 1px solid burlywood;
}*/