<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<section id="bottom-action-bar">
    <button class="action-bar-btn" id="home" type="button"><img alt="home" src="/static/img/home-white.png" th:src="@{/img/home-white.png}">
    </button>
    <button class="action-bar-btn" id="contact-us" type="button"><img alt="contact-us" src="/static/img/contact-us-white.png" th:src="@{/img/contact-us-white.png}"></button>
    <button class="action-bar-btn" id="logout" type="button"><img alt="logout" src="/static/img/logout-white.png" th:src="@{/img/logout-white.png}">
    </button>
</section>

<!--<table>-->
<!--<tr th:each="var : ${#vars}">-->
<!--<td th:text="${var.key}"></td>-->
<!--<td th:text="${var.value}"></td>-->
<!--</tr>-->
<!--</table>-->
</body>
</html>
