<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Cases</title>
    <link href="/static/css/basic-template.css" rel="stylesheet" th:href="@{/css/basic-template.css}">
    <link rel="stylesheet" href="/static/css/Vol_Dashboard/vol-dashboard-my-cases.css" th:href="@{/css/Vol_Dashboard/vol-dashboard-my-cases.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <link rel="manifest" href="/static/icons/manifest.json" th:href="@{/icons/manifest.json}">
    <script src="/static/js/jquery.ui.widget.js" th:src="@{/js/jquery.ui.widget.js}"></script>
    <script src="/static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
    <script src="/static/js/common.js" th:src="@{/js/common.js}"></script>
    <script src="/static/js/vol-dashboard-my-cases.js" th:src="@{/js/vol-dashboard-my-cases.js}"></script>
    <style type="text/css">
        .tg  { border-collapse:collapse;border-spacing:0;border-color:#aaa;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
        .tg .tg-baqh{text-align:center;vertical-align:top}
        .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
</head>
<body>
    
<!--<div id="loading-screen">
    <img src="/static/img/loading-3.gif" th:src="@{/img/loading-3-mobile.gif}" alt="Loading..." id="loading-main">
</div>-->
<div id="dynamic_image_enlarge">
    <div id="photo-enlarge"><img src="/static/img/selected-photo.png" th:src="@{/img/selected-photo.png}"></div>
    <button id="image_enlarge_back_button" type="button">Back</button>
</div>
<nav id="top-nav">
    <span id="profile-options">&#9776;</span>
    <button id="user-dp" type="button">
        <img alt="User-Display-Picture" height="" src="/static/img/display-picture11.png" th:if="${user.getUserImage().getImage() == null}" th:src="@{/img/display-picture11.png}" width="">
        <img alt="User-Display-Picture" height="" src="/static/img/display-picture11.png" th:if="${user.getUserImage().getImage() != null}" th:src="${'data:image/png;base64,'+user.getEncodedImage()}" width="auto">
    </button>
    <span id="navbar-username" th:text="${user.userName}">#Username</span>
</nav>

<nav id="side-nav">
    <section id="top-part">
        <div id="background-img">
            <img alt="Side-Nav-Background" id="bg-image" src="/static/img/side-nav-background-nav.png" th:src="@{/img/side-nav-background-nav.png}" width="75vw">
        </div>
        <span id="close-btn">&times;</span>
        <div id="side-nav-user-dp">
            <img alt="Side-Nav-Display-Picture" height="auto" src="/static/img/display-picture1.png" th:if="${user.getUserImage().getImage() == null}" th:src="@{/img/display-picture1.png}" width="">
            <img alt="Side-Nav-Display-Picture" height="auto" src="/static/img/display-picture1.png" th:if="${user.getUserImage().getImage() != null}" th:src="${'data:image/png;base64,'+user.getEncodedImage()}" width="">
        </div>
        <span id="user_name" th:text="${user.firstName} +' '+ ${user.lastName}">#First_Last_Name</span>
        <span id="user_role" th:text="${user.role}">#User_Role</span>
    </section>
    <section id="profile-links">
        <button><a href="#">Profile</a></button>
        <!--<button><a href="#" th:href="@{}">Profile</a></button>-->
        <button><a href="#">Selected Pincodes and Addresses</a></button>
        <!--<button><a href="#" th:href="@{}">Selected Pincodes and Addresses</a></button>-->
    </section>
    <section id="profile-changes">
        <button><a href="#">Change PIN</a></button>
        <!--<button><a href="#" th:href="@{}">Change PIN</a></button>-->
        <button><a href="#">Change Mobile No.</a></button>
        <!--<button><a href="#" th:href="@{}">Change Mobile No.</a></button>-->
        <button><a href="#">Change Email Address</a></button>
        <!--<button><a href="#" th:href="@{}">Change Email Address</a></button>-->
    </section>
    <section id="social-links">
        <div style="font-size:1.3em; letter-spacing:0.75px">Spread the word!</div>
        <br>
        <a class="fa fa-lg fa-facebook" href="https://www.facebook.com/birdhelpline/"></a>
        <a class="fa fa-lg fa-whatsapp"></a>
        <a class="fa fa-lg fa-twitter"></a>
    </section>
</nav>

<main>
    <button th:if="${caseInfo.active and caseInfo.currentUserId == user.userId}" id="action-center-main-div">Update Case</button>
    <button id="action-center-main-history-div">Case History</button>
    <section class="my-cases-case-details" id="my-cases-case-details">
        <div id="form-top-side-case-details">
            <div id="header-form-top-side-case-details">#Animal/Bird Information</div>
            <hr>
            <div id="body-form-top-side-case-details">
                <div id="id-case-details">
                    <label for="case-id-case-details">Case ID </label>
                    <input th:value="${caseInfo.caseId}" autocomplete="off" disabled id="case-id-case-details" name="case-id-case-details" required type="number">
                </div>
                <label for="animal-type-case-details">#Animal/Bird type: </label>
                <input th:value="${caseInfo.typeAnimal}" disabled id="animal-type-case-details" type="text" placeholder=""><br>
                <label for="animal-name-case-details">#Animal/Bird name: </label>
                <input th:value="${caseInfo.animalName}" disabled id="animal-name-case-details" type="text">
                <label for="condition-case-details">Condition: </label>
                <input th:value="${caseInfo.animalCondition}" disabled id="condition-case-details" type="text">
                <label for="case-photos-case-details">Photos Uploaded</label>
                <div id="case-photos-case-details" class="case-photos-case-details">
                    <img src="/img/loading-simple.gif" id="myc_case_details_loading_screen" alt="Loading">
                </div>
            </div>
        </div>
        <div id="form-bottom-side-case-details">
            <div id="header-form-bottom-side-case-details">Contact Information</div>
            <hr>
            <div id="body-form-bottom-side-case-details">
                <label>Name: </label>
                <input th:value="${caseInfo.contactName}" autocomplete="off" disabled id="contact-name-case-details" type="text">
                <label>Contact Number: </label>
                <input th:value="${caseInfo.contactPrefix}" disabled id="nine-one-case-details" placeholder="" type="text" style="width: 7vw;">
                <input th:value="${caseInfo.contactNumber}" autocomplete="off" disabled id="contact-number-case-details" type="number" style="width: 53vw;">
                <label>Location: </label>
                <textarea th:value="${caseInfo.location}" cols="36" disabled id="location-case-details" rows="3"></textarea>
                <label>Landmark </label>
                <input th:value="${caseInfo.locationLandMark}" autocomplete="off" disabled id="location-landmark-case-details" type="text">
                <label>Pincode </label>
                <input th:value="${caseInfo.locationPincode}" disabled id="location-pincode-case-details" type="number">
            </div>
        </div>
    </section>
    <div hidden id="history-dialog" title="Case History">
        <!--<p>This is the default dialog which is useful for displaying <i></i>nformation. The dialog window can be moved, resized and closed with the 'x' icon.</p>-->
        <table id="history-dialog-table"class="tg">

        </table>
    </div>
</main>

<nav id="bottom-action-bar">
    <button class="action-bar-btn" id="home" type="button"><img alt="home" src="/static/img/home-white.png" th:src="@{/img/home-white.png}">
    </button>
    <button class="action-bar-btn" id="logout" type="button"><img alt="logout" src="/static/img/logout-white.png" th:src="@{/img/logout-white.png}">
    </button>
    <button class="action-bar-btn" id="contact-us" type="button"><img alt="contact-us" src="/static/img/contact-us-white.png" th:src="@{/img/contact-us-white.png}"></button>
</nav>

</body>
</html>