main {
    text-align: start;
    padding: 4vw;
}

#header {
    text-align: start;
    padding: 5vw;
    background-color: #374047;
    color: floralwhite;
    font-size: 1.8em;
}

#page-label {
    margin-top: 1vh;
    font-size: 1.1em;
    border-bottom: 1px solid #374047;
}

#error {
    display: none;
    color: red;
    font-style: italic;
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;
}

#main-content {
    margin-top: 3vh;
}

#dob-wrapper, #contact-number-wrapper, #security-wrapper, #cta-btn-wrapper {
    margin: 2vw;
    padding: 2vw;
}

#dob-label, #contact-number-label,  #security-question-label {
    margin-bottom: 2vh;
    display: block;
}

#dob-input {
    padding: 3vw;
    padding-left: 5vw;
}
#contact-number-prefix, #security-question-select, #contact-number, #security-answer {
    padding: 3vw;
}
#contact-number-prefix {
    max-width: 7vw;
}
#contact-number {
    width: 50vw;
}

#security-question-select {
    box-sizing: border-box;
    margin-bottom: 1vh;
    width: 73.5vw;
}
#security-answer {
    width: 67vw;
}
#cta-btn-wrapper {
    text-align: right;
}
#submit-details {
    margin-top: 5vh;
    padding: 0;
}
#submit-details img {
    width: 12vw;
}

#passwordResetDiv {
    display: none;
    padding: 6vw;
}

#new-password-label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 1vh;
}
#newPassword {
    padding: 3vw;
}

#password-change-submit-wrapper {
    text-align: right;
    margin-top: 15vh;
}
#pass-change-submit-btn {
    padding: 0;
    margin-right: 4vw;
}
#pass-change-submit-btn img {
    width: 12vw;
}