main {
    text-align: start;
}

#header {
    text-align: start;
    padding: 5vw;
    background-color: #374047;
    color: floralwhite;
    font-size: 1.8em;
}

form[name = "inputdetails"] {
    padding: 5vw;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
}

label {
    letter-spacing: 0.4vw;
}

input[type = "text"] {
    outline: none;
    border: none;
    letter-spacing: 0.6vw;
    background-color: transparent;
}

input[type = "text"]:focus {
    border-bottom: 1px solid black;
}

input[type = "date"] {
    outline: none;
    width: 40vw;
    padding: 3vw;
    color: black;
    letter-spacing: 0.6vw;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[name = "contact-number-1"]{
    width: 8vw;
}

#securityanswer {
    margin: 3vw;
    width: 84.2vw;
}

.birthdate {
    margin: 3vw;
}

.phoneNo {
    margin: 0vw 3vw 3vw 3vw;
}

.securityquestion p {
    margin: 6vw 3vw 3vw 3vw;
    display: block;
}

select {
    margin: 3vw 3vw 3vw 3vw;
    border: 1px solid black;
}

p {
    display: inline-block;
}

#next-btn {
    border: none;
    outline: none;
    background-color: transparent;
    float: right;
    margin-top: 5vw;
    margin-right: 5vw;
}

#next-btn img {
    width: 12vw;
}