.logoImage {
    margin-top: 35vw;
    max-width: 60vw;
    height: auto;
}
.btn-group {
    box-sizing: border-box;
    margin-top: 10vw;
    align-items: center;
}

main {
    all: unset;
}

    /*body * {
        border: 1px solid burlywood;
    }*/

.info-btn {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 1.6vh;
    letter-spacing: 0.3vh;
    position: absolute;
    top: 5vh;
    right: 2vw;
    width: 14vw;
}
#aboutus {
    display: none; 
    width: 100%; 
    height:100%; 
    background-color: #37404769; 
    text-align: center; 
    opacity: 0.9; 
    position: absolute; 
    z-index: 1000; 
    padding-bottom: 10%;
  }
  
  #aboutus-info{
    margin-left:8%; 
    margin-top:30%; 
    margin-right: 8%;
    background-color: #374047; 
    color: white; 
    text-align: start; 
    font-size: 1.2em; 
    padding: 5%; 
  }
  
#backbutton {
    margin-top: 10vw;
    margin-right: 8%;
    float: right;
    background-color: rgb(230,230,230);
}

#pwa {
    display: none;
    position: absolute;
    top: 40%;
    left: 30%;
    background-color: #333;
    color: white;
    z-index: 10001;
    padding: 2vw;
}

#install {
    background-color: #007AEA;
    padding: 1.5vh;
    float: right;
}

#not-now {
    background-color: transparent;
    padding: 1.5vh;
    float: right;
}

@media only screen and (min-width: 1024px){
    .logoImage {
        margin-top: 5vw;
        max-width: 30vw;
        height: auto;
    }
    .btn-group {
        margin-top: 5vw;
    }
    .info-btn {
        width: 5vw;
    }
}

@media only screen and (max-width: 320px){
    .btn-group {
        font-size: 0.8em;
    }
    #aboutus-info {
        font-size: 0.8em;
    }
    .logoImage {
        margin-top: 25vw;
    }
}