#logoImage {
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-width: 60vw;
    height: auto;
}

.btn {
    border-radius: 0;
}

.btn-group {
    box-sizing: border-box;
    margin-top: 10vw;
    align-items: center;
}

main {
    all: unset;
    width: 100vw;
    text-align: center;
}

#info-btn {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 1.6vh;
    letter-spacing: 0.3vh;
    position: absolute;
    top: 5vh;
    right: 2vw;
    width: 14vw;
}

#aboutus {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #37404769;
    text-align: center;
    opacity: 0.9;
    position: absolute;
    z-index: 1000;
    padding-bottom: 10%;
}

#aboutus-info {
    margin-left: 8%;
    margin-top: 30%;
    margin-right: 8%;
    background-color: #374047;
    color: white;
    text-align: start;
    font-size: 1.2em;
    padding: 5%;
}

#backbutton {
    margin-top: 10vw;
    margin-right: 5%;
    float: right;
    background-color: rgb(230, 230, 230);
}

#pwa {
    display: none;
    position: absolute;
    top: 40%;
    left: 30%;
    background-color: #333;
    color: white;
    z-index: 10001;
    padding: 2vw;
}

#install {
    background-color: #007AEA;
    padding: 1.5vh;
    float: right;
}

#not-now {
    background-color: transparent;
    padding: 1.5vh;
    float: right;
}

@media only screen and (min-width: 1024px) {
    #logoImage {
        margin-top: 7vw;
        max-width: 30vw;
        height: auto;
    }

    .btn-group {
        margin-top: 5vw;
    }

    #info-btn {
        width: 5vw;
    }

    #aboutus {
        padding-bottom: 1%;
    }

    #aboutus-info {
        margin-top: 5%;
        margin-left: 5%;
        width: 90%;
    }
}

@media only screen and (max-width: 320px) {
    .btn-group {
        font-size: 0.8em;
    }

    #aboutus-info {
        font-size: 0.8em;
    }

    #logoImage {
        margin-top: 25vw;
    }
    #backbutton {
        margin-right: 8%;
    }
}

@media only screen and (max-width: 768px) {
    #logoImage {
        margin-top: 20vh;
    }
    #backbutton {
        margin-right: 8%;
    }
    #backbutton {
        margin-right: 8%;
    }
    #aboutus-info {
        font-size: 1em;        
    }
}