/*-----------------------------GLOBAL-------------------------*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #333;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #EAEAEA;
}

::-webkit-scrollbar-thumb:start {
    background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #CCC;
}

button {
    padding: unset;
}

.ui-menu, .ui-menu-item-wrapper {
    border: 1px solid rgb(248,248,248);
    background-color: #f4f4f4;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/*-------------Loading-Gif-----------*/
#loading-gif {
    box-sizing: border-box;
    position: absolute;
    display: none;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(248,248,248);
    background-image: url(/img/loading.gif);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: -15vw -15vh;
    z-index: 1000001;
}

/*-----------Custom-Alert-Box-----------*/
#custom-alert-box {
    box-sizing: border-box;
    display: none;
    position: absolute;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100001;
    max-width: 50vw;
}

#alert-box-heading {
    box-sizing: border-box;
    background-color: rgb(255, 193, 7);
    color: white;
    padding: 1vw 0;
}

#alert-box-span-heading {padding-left: 2vw;}

#alert-box-close-btn {
    float: right;
    font-size: 3em;
    margin-top: -3vh;
    margin-right: 1vw;
    margin-left: 2vw;
    cursor: pointer;
}

#alert-box-content {
    box-sizing: border-box;
    background-color: rgb(248,248,248);
    border: 1px solid #CCC;
    color: #333;
    border-top: none;
    padding: 2vw;
}

/*----------------------------TOP-NAV-------------------------*/
#top-nav-search-content {
    background-color: rgb(248,248,248);
}

#top-nav {
    box-sizing: border-box;
    height: 6vh;
    background-color: #333;
    padding: 0;
    color: white;
}

#top-nav * {
    vertical-align: middle;
}

#left-side {
    float: left;
    margin-left: 1vw;
}

#home-btn {
    box-sizing: border-box;
    padding: 0;
    color: white;
    height: 6vh;
}

#home-btn img {
    box-sizing: border-box;
    height: 3vh;
    vertical-align: middle;
}

#home-btn-txt {
    position: relative;
    box-sizing: border-box;
    margin-left: 0.2vw;
    font-size: 1.2em;
    letter-spacing: 1px;
}

#refresh {
    margin-left: 1vw;
}

#top-nav-search {
    box-sizing: border-box;
    background-image: url("/img/search-1.png");
    background-position: 0.5vw 0.35vw;
    background-size: 1.5vw;
    background-repeat: no-repeat;
    border-radius: 0;
    margin: 0vw 1.5vw;
    width: 50vw;
    padding: 0.7vw;
    padding-left: 3vw;
    padding-bottom: 0.7vh;
    color: white;
    border: none;
    letter-spacing: 1px;
    font-size: 1em;
}

#top-nav-search:hover, #top-nav-search:focus {
    border-bottom: 1px solid white;
}

#right-side {
    box-sizing: border-box;
    float: right;
    height: 6vh;
    margin-right: 1vw;
}

#user-dp-btn {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    border-radius: 5px;
    height: 6vh;
}

#user-dp-btn img {
    border: 2px solid white;
    border-radius: 50%;
    padding: 0.2vw;
    background-color: white;
}

#user-name {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    color: white;
    padding: 1vh;
    font-size: 1.2em;
    letter-spacing: 1px;
}

#more-btn {
    position: relative;
    box-sizing: border-box;
    top: -0.25vh;
}

#dropdown-menu {
    display: none;
    position: absolute;
    top: 6vh;
    background-color: #333;
    right: 0.8vw;
    z-index: 101;
}

#dropdown-menu button {
    width: 13vw;
    padding: 2vh;
    display: block;
    border-bottom: 1px solid #CCCCCC44;
    cursor: pointer;
    font-size: 0.9em;
}

#dropdown-menu button a {
    display: block;
    color: white;
    letter-spacing: 2px;
}
#dropdown-menu button a:hover {
    color: #007AEA;
    font-weight: 500;
}

#home-btn, #user-dp-btn, #more-btn, #refresh {
    opacity: 0.7;
}

#home-btn:hover, #user-dp-btn:hover, #more-btn:hover, #refresh:hover {
    opacity: 1;
    cursor: pointer;
}

/*----------------------------MAIN-------------------------*/
main {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    height: 84vh;
    width: 75vw;
    margin: 5vh;
    text-align: left;
    background-color: rgb(248,248,248);
    box-shadow: 00px 00px 40px #999;
}
/*----------------HEADING-STATUS-BAR------------*/
#heading-status_bar, #top-nav-heading-status_bar {
    box-sizing: border-box;
    background-color: #333;
    height: 6vh;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-top: 10px;
}#top-nav-heading-status_bar {display: none;}
#heading-text, #top-nav-heading-text,  #back-button, #close-button, #top-nav-back-button, #top-nav-close-button {display: inline;}
#heading-text, #top-nav-heading-text {
    position: relative;
    box-sizing: border-box;
    color: white;
    font-size: 1.1em;
}
.status-bar-vol-name {color: skyblue;}
#back-close-btn-wrapper, #top-nav-back-close-btn-wrapper {
    display: none;
    position: relative;
    float: right;
    margin-right: 1vw;
    margin-top: -3px;
}
#close-button, #back-button, #top-nav-close-button, #top-nav-back-button {
    color: white;
    font-size: 1.4em;
    margin-left: 0.5vw;
    cursor: pointer;
}
/*--------------------------------------------*/
#raise-a-case-content, #my-cases-content, #user-data-change-approvals-content, #case-details, #top-nav-case-details, #top-nav-search-results, #user-profile {
    position: relative;
    box-sizing: border-box;
    display: block;
    color: black;
    margin-left: 3vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-right: 1.75vw;
    background-color: rgb(248,248,248);
}

#case-details, #top-nav-case-details {
    position: absolute;
    top: 6vh;
    z-index: 2;
    width: 68.5vw;
}

#top-nav-search-results, #user-profile, #top-nav-case-details {
    z-index: 101;
    position: absolute;
    top: 3vh;
    margin-left: 0;
    width: 75vw;
    height: 78vh;
}

#top-nav-case-details {
    display: none;
    padding-top: 3vh;
    padding-left: 2vw;
}

#my-cases-content, #user-data-change-approvals-content, #top-nav-search-results, #user-profile {
    display: none;
}

/*-------------------------User-Profile----------------------------*/
#user-profile-top-side {
    box-sizing: border-box;
    display: flex;
    height: 20vh;
    border-bottom: 5px solid #333;
    padding: 3vh;
}

#user-profile span img {
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: rgb(248,248,248);
    padding: 1vw;
    height: 20vh;
    cursor: crosshair;
}

#user-profile-middle-side {
    letter-spacing: 1px;
    font-size: 1.2em;
    padding-top: 5%;
    margin-left: 1vw;
}

#user-profile-right-side {
    position: absolute;
    box-sizing: border-box;
    right: 2vw;
    top: 10vh;
}

#user-profile-right-side table {
    border-collapse: collapse;
}

#user-profile-right-side table tr:first-child {
    font-size: 0.8em;
}

#user-profile-right-side table tr:nth-child(2) {
    font-size: 1.5em;
    text-align: center;
}

#user-profile-right-side table tr:nth-child(2) td:first-child {
    color: rgb(0, 160, 0);
}

#user-profile-right-side table tr:nth-child(2) td:nth-child(2) {
    color: rgb(220, 0, 0);
}

#user-profile-nav-links {
    padding: 1vw 2vw 0vw 13vw;
}

#user-profile-basic-details-btn, #user-profile-user-cases-btn {
    color: #333;
    border: 2px solid transparent;
    padding: 1vw;
    font-size: 1.3em;
}

#user-profile-basic-details-btn:hover, #user-profile-user-cases-btn:hover {
    box-sizing: border-box;
    border: 2px solid #007AEA;
    box-shadow: 2px 2px 10px #BBB;
    font-size: 1.35em;
    transition: 0.3s all;
}

#user-profile-about-content {
    display: flex;
    justify-content: flex-end;
    margin-top: 3vh;
}

#user-profile-about-left-side {
    padding: 3vw;
    padding-left: 3vw;
    padding-top: 1vw;
    font-size: 1.3em;
    max-width: 30vw;
    border-right: 1px solid black;
}

#user-profile-about-left-side div {
    margin: 0vh 0vh 2vh 0vw;
}

#user-profile-about-right-side {
    display: flex;
    padding: 2vw;
    padding-top: 1vw;
    font-size: 1.15em;
    width: 40vw;
    justify-content: space-between;
}

#user-profile-about-right-side div {
    margin: 0vh 0vh 1vh 1vw;
}

#user-profile-name:hover, #user-profile-dob:hover, #user-profile-gender:hover, #user-profile-email:hover, .user-profile-address-line1:hover, .user-profile-address-line2:hover, .user-profile-address-pincode:hover, .user-profile-nine-one-zero-two-two:hover, .user-profile-contact-number:hover {
    color: #007AEA;
}

#user-profile-cases-content {
    display: none;
    padding-left: 3vw;
}

#user-profile-active-content-table, #user-profile-recent-content-table, #user-profile-closed-content-table {
    max-height: 36vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#user-profile-recent-tab-content, #user-profile-closed-tab-content {
    display: none;
}

/*------------------------CARDS-RIGHT-SIDE-----------------------*/

#card-right-side {
    position: absolute;
    display: inline-block;
    height: 83.79vh;
    width: calc(100vw - 75vw - 15vh);
    margin: 5vh;
    left: calc(5vh + 75vw + 5vh);
    margin-left: 0;
    text-align: center;
}

#raise-a-case-side-card, #my-cases-side-card, #user-data-change-approvals-side-card {
    position: relative;
    box-sizing: border-box;
    box-shadow: 00px 00px 30px #999;
}

#raise-a-case-side-card:hover, #my-cases-side-card:hover, #user-data-change-approvals-side-card:hover, #raise-a-case-side-card:focus, #my-cases-side-card:focus, #user-data-change-approvals-side-card:focus {
    border: none;
    box-shadow: 00px 00px 40px #888;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.2s;
}

label:hover {
    cursor: pointer;
}

.right-side-card-rotate {
    backface-visibility: hidden;
    transform: rotateY(360deg);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#rac-body, #myc-body, #usdca-body {
    box-sizing: border-box;
    padding-top: 1.5vh;
    color: black;
    height: 24.64vh;
    margin-bottom: 5vh;
}

#usdca-body {
    margin-bottom: 0;
}

.right-side-card-img {
    box-sizing: border-box;
    position: relative;
    height: 11vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#rac-body label, #myc-body label {
    position: relative;
    font-size: 1.3em;
}

/*---------------------------------------------MAIN-CONTENT-----------------------------------------*/

/*--------------------Top-Nav-Seach-Results-----------*/
#top-nav-search-results li {
    position: relative;
    list-style-type: decimal;
    border-bottom: 1px solid #CCC;
    padding: 1.5vw 0vw;
    margin-left: 4vw;
    width: 67vw;
}

#top-nav-search-results li:first-child {
    margin-top: 3vh;
}

#top-nav-search-results li:hover {
    color: #007AEA;
    cursor: pointer;
}

.top-nav-search-vol-role {
    position: relative;
    float: right;
    margin-right: 2vw;
}

.search-li-cases-header, .search-li-cases {
    display: flex;
    margin-left: 5vw;
    width: 65vw;
    font-size: 1.2em;
    justify-content: space-between;
}

.search-li-cases {
    margin-top: 2vh;
    font-weight: 400;
    font-size: 1.2em;
}

.search-li-cases:hover {
    color: #007AEA;
    cursor: pointer;
}

/*--------------------RAISE-A-CASE--------------------*/
#raise-a-case-form, #case-details-form, #top-nav-case-details-form {
    display: flex;
}

#case-details-form, #top-nav-case-details-form {
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 71vh;
}

#form-left-side, #form-right-side{
    width: 50%;
    font-size: 1em;
}

#form-left-side label, #form-right-side label{
    width: 65%;
}

#form-left-side-case-details, #form-right-side-case-details, #top-nav-form-left-side-case-details, #top-nav-form-right-side-case-details {
    width: 40%;
}

#header-form-left-side, #header-form-right-side, #header-form-left-side-case-details, #header-form-right-side-case-details, #header-top-nav-form-left-side-case-details, #header-top-nav-form-right-side-case-details {
    font-size: 1.3em;
    font-weight: 500;
    padding-left: 1vw;
}

hr {
    margin-bottom: 3vh;
    margin-left: 0;
    width: 90%;
}

#body-form-left-side, #body-form-right-side, #body-form-left-side-case-details, #body-form-right-side-case-details, #body-top-nav-form-left-side-case-details, #body-top-nav-form-right-side-case-details {
    padding-left: 1vw;
}
#body-top-nav-form-right-side-case-details label, #body-top-nav-form-left-side-case-details label {
    cursor: default;
}

#date-info, #animal-name, #condition, #animal-type, #add-bird-animal, #location, #case-photos, #contact-name, #nine-one, #contact-number, #location, #location-landmark, #location-pincode,
#animal-name-case-details, #top-nav-date-info,#top-nav-animal-name-case-details, #condition-case-details, #top-nav-condition-case-details, #animal-type-case-details, #top-nav-animal-type-case-details, #case-photos-case-details, #top-nav-case-photos-case-details, #contact-name-case-details, #top-nav-contact-name-case-details, #nine-one-case-details, #top-nav-nine-one-case-details, #contact-number-case-details, #top-nav-contact-number-case-details, #location-case-details, #top-nav-location-case-details, #location-landmark-case-details, #top-nav-location-landmark-case-details, #location-pincode-case-details, #top-nav-location-pincode-case-details {
    margin: 0vh 0vh;
    border-radius: 0px;
    font-size: 0.9em;
    padding: 0.5vw;
    padding-left: 0.75vw;
    width: 73%;
    margin-bottom: 2vh;
    border: 1px solid #CCC;
}

#case-id, #case-id-case-details, #top-nav-case-id-case-details {
    width: 5vw;
    margin: 0vw 1vw 1vh 1vw;
    height: 1vh;
    border-radius: 0px;
    font-size: 0.9em;
    padding: 0.75vw;
    padding-left: 0.75vw;
    margin-bottom: 2vh;
    border: 1px solid #CCC;
}

#case-details label, label[for="case-id"] {
    cursor: default;
}

#raise-a-case-content input[type="text"]:focus::placeholder, #raise-a-case-content input[type="number"]:focus::placeholder, #location:focus::placeholder, #raise-a-case-content input[type="file"]:focus::placeholder, #case-details input[type="text"]:focus::placeholder, #case-details input[type="number"]:focus::placeholder, #location-case-details:focus::placeholder, #top-nav-location-case-details:focus::placeholder, #case-details input[type="file"]:focus::placeholder, #close-case-other-reason:focus::placeholder {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

#location, #location-case-details, #top-nav-location-case-details {
    padding-top: 1vh;
    resize: none;
}

#location-case-details, #top-nav-location-case-details {
    padding: 0.5vh 0.5vw;
}

#animal-type {
    width: 78%;
}

#raise-a-case-content label, #case-details label, #top-nav-case-details label {
    display: block;
    margin-bottom: 0.5vw;
}

#id-and-bird-type, #id-and-bird-type-case-details, #top-nav-id-and-bird-type-case-details {
    display: flex;
} #id-and-bird-type {margin-bottom: 2vh;}

#id-and-bird-type label, #id-and-bird-type-case-details label, #top-nav-id-and-bird-type-case-details label {
    display: inline;
}

#bird-option img, #animal-option img {
    vertical-align: middle;
    padding: 0vw 1vw;
    width: 3.5vw;
    height: auto;
}

#case-photos-case-details, #top-nav-case-photos-case-details {
    display: flex;
    justify-content: space-around;
    max-height: 15vh;
    overflow: auto;
}

#case-photos-case-details img, #top-nav-case-photos-case-details img {
    max-width: 6vw;
    max-height: 8vh;
    cursor: crosshair;
    height: auto;
}

#location-case-details, #top-nav-location-case-details {
    overflow-y: auto;
    overflow-x: hidden;
    resize: hidden;
    max-height: 10vh;
}

#nine-one {
    width: 5vw;
}

#nine-one-case-details, #top-nav-nine-one-case-details {
    width: 2.3vw;
}

#contact-number, #contact-number-case-details, #top-nav-contact-number-case-details {
    width: 57.3%;
}

#cta-btns {
    display: block;
    right: 0;
    margin-top: 2vh;
    width: 65vw;
}

#raise-a-case-success {
    display: none;
    position: absolute;
    background: rgb(223, 240, 216);
    color: green;
    letter-spacing: 0.5px;
    font-size: 1.2em;
    float: left;
    padding: 0.5vw 3vh;
    border: 3px solid rgb(0, 158, 0);
}

#raise-a-case-error {
    display: none;
    position: absolute;
    background: rgb(242, 222, 222);
    color: rgb(160, 0, 0);
    letter-spacing: 0.5px;
    font-size: 1.2em;
    float: left;
    padding: 0.5vw 3vh;
    border: 3px solid rgb(160, 0, 0);
}

#raise-a-case-checkmark {
    font-size: 1.2em;
    font-weight: 900;
    border-radius: 50%;
    border: 2px solid rgb(0, 160, 0);
    text-align: center;
    padding: 0vw 6px;
}

#close-success-message{
    margin-left: 2vw;
    cursor: pointer;
    font-size: 1.3em;
}

#raise-a-case-cross {
    font-size: 1.2em;
    font-weight: 900;
    border-radius: 50%;
    border: 2px solid rgb(160, 0, 0);
    text-align: center;
    padding: 0vw 6px;
}

#submit-raise-case, #reset-raise-case {
    border: 1px solid #CCC;
    padding: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    letter-spacing: 1px;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    float: right;
}

#submit-raise-case {
    background-color: rgb(0, 160, 0);
}

#reset-raise-case {
    background-color: #333333;
    margin-right: 2vh;
}

#submit-raise-case:hover, #reset-raise-case:hover, #submit-raise-case:focus, #reset-raise-case:focus {
    box-shadow: 0px 0px 30px #AAA;
}

#raise-a-case-content input[type="text"]:focus, #raise-a-case-content input[type="number"]:focus, #location:focus, #raise-a-case-content input[type="file"]:focus, #close-case-other-reason:focus, #raise-a-case-content select:focus {
    border: 1px solid black;
}

#action-center, #action-center-top-nav {
    box-sizing: border-box;
    position: absolute;
    display: block;
    top: 0;
    right: -1.75vw;
    width: 12vw;
    letter-spacing: 1px;
    background-color: #333;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 20px #999;
    z-index: 4;
}
#action-center-top-nav {
    top: 2vw;
    right: 2vw;
}

#action-center-heading, #action-center-heading-top-nav {
    font-size: 1.2em;
    cursor: default;
    padding: 1vw;
    border-bottom: 3px solid #EEE;
}

#action-center-heading:hover, #action-center-heading-top-nav:hover {
    background-color: #CCC;
    color: black;
}

#action-center-body a:hover, #action-center-body-top-nav a:hover {
    background-color: #CCC;
    color: black;
    cursor: pointer;
    text-shadow: 0px 0px 20px #666;
}

#action-center-body a, #action-center-body-top-nav a {
    display: block;
    padding: 1vw;
}
.reassign-case {color: skyblue; font-weight: 900;}

/*-------------------Assign-Case-------------------*/

#content-assign-case, #top-nav-content-assign-case {
    display: none;
    position: absolute;
    top: 0;
    pointer-events: all;
}

#assign_case_loading, #top-nav-assign_case_loading {
    position: absolute;
    display: none;
    top: 15vw;
    left: 35vw;
    width: 5vw;
    height: auto;
}

#assign-case-search, #top-nav-assign-case-search {
    height: 65vh;
    margin-top: 2vh;
    margin-bottom: 6vh;
}

#assign-case-search-input, #top-nav-assign-case-search-input {
    background-image: url('/img/search-1.png');
    background-size: 3vw;
    background-repeat: no-repeat;
    background-position: 15px 15px;
    border-radius: 0;
    padding: 2vw 3vw;
    padding-left: 5vw;
    font-size: 1.2em;
    padding-bottom: 1.5vw;
    width: 68.5vw;
}
#assign-case-search-input:focus, #top-nav-assign-case-search-input:focus {
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
}

#assign-case-search-body, #top-nav-assign-case-search-body {
    display: flex;
    justify-content: space-between;
}

#top-five, #top-nav-top-five {
    border: 1px solid #CCC;
    width: 32.25vw;
}

#nearest-assigned-volunteers, #top-nav-nearest-assigned-volunteers {
    border: 1px solid #CCC;
    border-left: none;
    width: 32vw;
}

.top-five-and-nearest-and-search-results-ul li {
    margin: 0vh 0vw;
    padding-bottom: 5vh;
    margin-left: -2vw;
    max-width: 25vw;
    min-width: 25vw;
}

.top-five-and-nearest-and-search-results-ul li span:hover {
    color: #007AEA;
}

.assign-case-assign-btn {
    all: unset;
    float: right;
    padding: 1vw 2vw;
    background-color: rgb(0, 160, 0);
    color: white;
    cursor: pointer;
    font-size: 0.8em;
    letter-spacing: 1px;
}

.assign-case-assign-btn:hover {
    box-shadow: 0px 0px 20px #BBB;
}


#top-five, #top-nav-top-five, #nearest-assigned-volunteers, #top-nav-nearest-assigned-volunteers {
    margin-top: 3vh;
    padding-top: 2vh;
    padding-left: 2vw;
    height: 50vh;
    overflow: auto;
    overflow-x: hidden;
}

#top-five h2, #top-nav-top-five h2, #nearest-assigned-volunteers h2, #top-nav-nearest-assigned-volunteers h2 {
    margin-top: 0;
}

#assign-case-search-results, #top-nav-assign-case-search-results {
    display: none;
    position: absolute;
    top: 7vw;
    padding-right: 2vw;
    padding-left: 1vw;
    border: 1px solid #CCC;
}

#assign-case-status-bar, #top-nav-assign-case-status-bar {
    position: absolute;
    bottom: 0;
}

#assign-case-success, #assign-case-error, #top-nav-assign-case-success, #top-nav-assign-case-error {
    display: none;
    background-color: rgba(0, 160, 0, 0.2);
    color: green;
    letter-spacing: 0.5px;
    font-size: 1.2em;
    float: left;
    padding: 0.5vw 3vh;
    border: 3px solid rgb(0, 160, 0);
    max-width: 60vw;
}

#assign-case-error, #top-nav-assign-case-error {
    display: none;
    background: rgba(1600, 0, 0, 0.4);
    color: rgb(160, 0, 0);
    border: 3px solid rgb(160, 0, 0);
    width: 5vw;
}

/*-----------------Tooltip-Vol-Assign-------------*/
#vol-description-tooltip, #top-nav-vol-description-tooltip {
    display: none;
    box-sizing: border-box;
    position: fixed;
    background-color: #CCC;
    color: black;
    font-size: 1.1em;
    letter-spacing: 1px;
    padding-right: 2vw;
    z-index: 150001;
    -webkit-clip-path: polygon(10% 30%, 10% 0, 100% 0, 100% 100%, 10% 100%, 10% 70%, 0 50%);
    clip-path: polygon(10% 40%, 10% 0, 100% 0, 100% 100%, 10% 100%, 10% 60%, 0 50%);
}

#tooltip-dp img, #top-nav-tooltip-dp img {
    position: absolute;
    top: 2.5vh;
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;
    z-index: 3;
    left: 4vw;
}

#decoy-for-img, #top-nav-decoy-for-img {
    position: relative;
    min-height: 9vh;
    background-color: #333;
    color: #333;
    width: 200%;
}

#tooltip-info, #top-nav-tooltip-info {
    padding-top: 5vh;
    padding-left: 1vw;
    padding-bottom: 1vh;
    margin-left: 3vw;
}

#tooltip-info div:hover, #top-nav-tooltip-info div:hover {
    cursor: text;
}

#tooltip-info-name, #tooltip-info-role, #tooltip-info-address, #tooltip-info-tel-number, #top-nav-tooltip-info-name, #top-nav-tooltip-info-role, #top-nav-tooltip-info-address, #top-nav-tooltip-info-tel-number  {
    padding-bottom: 1vh;
}

#tooltip-info-name:hover, #tooltip-info-role:hover, #address-line1:hover, #address-line2:hover, #tooltip-pincode:hover, #tooltip-info-tel-number:hover, #top-nav-tooltip-info-name:hover, #top-nav-tooltip-info-role:hover, #top-nav-address-line1:hover, #top-nav-address-line2:hover, #top-nav-tooltip-pincode:hover, #top-nav-tooltip-info-tel-number:hover {
    color: #007AEA;
    cursor: default;
}

/*-----------------Close-Case---------------------*/
#content-close-case, #top-nav-content-close-case {
    display: none;
    position: absolute;
    top: 0;
    width: 72vw;
    height: 65vh;
    text-align: center;
    padding-top: 10vh;
}

#close-case-reason-span, #top-nav-close-case-reason-span {
    position: relative;
    vertical-align: middle;
    top: 0.5vh;
    font-size: 1em;
}

#close-case-reason, #top-nav-close-case-reason {
    padding: 0.5vw 2vw;
    border-radius: 0;
    letter-spacing: 1px;
    vertical-align: top;
    letter-spacing: 1px;
    font-size: 1em;
    margin-left: 0.5vw;
    margin-bottom: 1.5vh;
    border: 1px solid #666;
}

#close-case-other-reason, #top-nav-close-case-other-reason {
    box-sizing: border-box;
    display: none;
    margin-left: 38%;
    border-radius: 0;
    letter-spacing: 1px;
    padding: 1vw;
    font-size: 1em;
    margin-bottom: 1vh;
    border: 1px solid #666;
    background-color: rgb(248,248,248);
}

#close-case-other-reason::placeholder, #top-nav-close-case-other-reason::placeholder {
    color: black;
    font-weight: 500;
}

#close-case-cancel-btn, #close-case-submit-btn, #top-nav-close-case-cancel-btn, #top-nav-close-case-submit-btn {
    box-sizing: border-box;
    padding: 1vw 2vw;
    color: white;
    letter-spacing: 2px;
    margin: 0.5vw;
    font-size: 1em;
}

#close-case-cancel-btn, #top-nav-close-case-cancel-btn {
    background-color: #333;
}

#close-case-submit-btn, #top-nav-close-case-submit-btn {
    background-color: rgb(0, 160, 0);
}

#close-case-cancel-btn:hover, #close-case-submit-btn:hover, #top-nav-close-case-cancel-btn:hover, #top-nav-close-case-submit-btn:hover {
    box-shadow: 0px 0px 20px #BBB;
}

/*--------------------MY-CASES--------------------*/
#search-case-input {
    width: 68.5vw;
    border-radius: 0;
    padding: 1vw;
    background-image: url("/img/search-1.png");
    background-repeat: no-repeat;
    background-position: 1vw 0.5vw;
    background-size: 2vw;
    padding-left: 4vw;
    font-size: 1.05em;
    box-shadow: 0px 0px 20px #BBB;
    border: none;
    margin-bottom: 1vh;
}

#search-case-input:focus {
    border: unset;
}

input[type="search"]:focus::placeholder {
    color: #CCC;
    transition: all 0.5s ease-in-out;
}

#tab-header, #user-profile-tab-header {
    display: flex;
    margin-top: 2vh;
    background-color: #007AEA;
    color: white;
    justify-content: space-around;
    border: none;
    font-weight: 400;
    width: 68.5vw;
}

.content-table {
    width: 69.5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#tab-header span, #user-profile-tab-header span {
    font-size: 1.05em;
    padding: 0.75vw 0vw;
    width: 100vw;
    text-align: center;
    cursor: pointer;
    letter-spacing: 1px;
}

#user-profile-tab-header span {
    padding: 0.65vw 0vw;
}

#tab-content {
    display: flex;
}

#recent-tab-content, #closed-tab-content {
    display: none;
}

.my-cases-result {
    border-collapse: collapse;
    width: 71.5vw;
    counter-reset: section;
    margin-top: 4.1vh;
}

#active-content-table, #recent-content-table, #closed-content-table {
    max-height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.sr-no-div {width: 8vw;} 
.case-id-div {width: 10vw;} 
.case-status-div {width: 24vw;} 
.accepted-div{width:11vw}
.date-div {width: 13vw;} 
.animal-type-div {width: 20vw;} 
.case-name-div {width: 19vw;}

.sr-no {width: 8vw;} 
.case-id {width: 10vw;} 
.case-status {width: 24vw;} 
.accepted{width:11vw} 
.date {width: 13vw;} 
.animal-type {width: 20vw;} 
.case-name {width: 19vw;}

.sr-no li {
    list-style-type: none;
}

.sr-no li::before {
    counter-increment: section;
    content: counters(section,".") ". ";
}

.row {
    display: flex;
    text-align: start;
    font-size: 1.05em;
    letter-spacing: 0.5px;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.row:hover {
    color: #007AEA;
    cursor: pointer;
}

.row:first-child {
    border-top: none;
}

#table11_tab_content_loading, #table22_tab_content_loading, #table33_tab_content_loading, #table1_tab_content_loading, #table2_tab_content_loading, #table3_tab_content_loading, #top_five_loading, #nearest_vol_loading, #top-nav-top_five_loading, #top-nav-nearest_vol_loading {
    max-width: 10vw;
}

.search-li-case-details-onclick div {
    display: inline-block;
    padding: 0vw 6vw 0vw 0vw;
}


.tab-header-animation {
    font-size: 200px;
    font-weight: 900;
    animation: tab-header 0.5s forwards 0s cubic-bezier(0.175, 0.885, 0.32, 1.20);
}

@keyframes tab-header {
    0% {
        transform: scale(0) translateX(50px); 
    }
    100% {
        transform: scale(1) translateX(0);
    }
}

.tab-content-animation {
    animation: tab-content 0.5s forwards 0s ease-in-out;
}

@keyframes tab-content {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*--------------------USER-DATA-CHANGE-APPROVALS--------------------*/
#user-data-change-approvals-content {
    margin-top: 5vh;
    margin-right: 5vh;
    height: 68vh;
    overflow-y: auto;
    overflow-x: hidden;
}

figcaption {
    text-align: center;
    cursor: default;
}

figure, button .reject, button .accept, div .old-photo, div .new-photo {
    cursor: default;
}

figure img {
    cursor: pointer;
}

#dynamic_image_enlarge {
    display: none;
    position: absolute;
    top: 0;
    width: 67vw;
    height: 76.5vh;
    background-color: rgba(222, 184, 134, 1);
    z-index: 1001;
    padding: 2vw 4vw;
    text-align: center;
}

#dynamic_image_enlarge img {
    margin-top: 5vh;
    max-width: 50vw;
    max-height: 60vh;
}

#dynamic_image_enlarge button {
    background-color: #333;
    color: white;
    padding: 1vw 2vw;
    float: right;
    letter-spacing: 1px;
}

.dynamic_usdca_member {
    margin-bottom: 2vh;
    box-shadow: 0px 0px 20px #AAA;
}

.user-info {
    padding: 1vw;
    background-color: #007AEA;
    color: white;
}

.usdca-user-name:hover, .usdca-user-name:hover:focus, .usdca-user-role:hover, .usdca-user-role:focus {
    text-shadow: 0px 0px 20px #fff;
    cursor: pointer;
}

.usdca-user-role {
    float: right;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.old-photo, .new-photo {
    width: 12vw;
    cursor: pointer;
}

.old-photo img, .new-photo img {
    cursor: crosshair;
}

.approve, .reject {
    width: 12vw;
    padding: 0;    
    letter-spacing: 1px;
    font-size: 1.07em;
    cursor: default;
}

.approve figure img, .reject figure img {
    cursor: pointer;
}