/*-----------------------------GLOBAL-------------------------*/
.no-select, .no-select * {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

figcaption {
    text-align: center;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    cursor: pointer;
}
 
::-webkit-scrollbar-track {/*
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
    background-color: #EAEAEA;
}

::-webkit-scrollbar-thumb:start {
    background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;/*
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
    background-color: #CCC;
}
/*----------------------------TOP-NAV-------------------------*/
#top-nav {
    box-sizing: border-box;
    height: 6vh;
    background-color: #333;
    padding: 0;
    color: white;
}

#left-side {
    float: left;
    margin-left: 1vw;
}

#home-btn {
    box-sizing: border-box;
    padding: 0;
    color: white;
    height: 6vh;
}

#home-btn img {
    box-sizing: border-box;
    width: 4vh;
}

#home-btn-txt {
    position: relative;
    box-sizing: border-box;
    font-size: 1em;
    height: 3vh;
    top: -1vh;
    margin-left: 0.2vw;
}

#right-side {
    box-sizing: border-box;
    float: right;
    height: 6vh;
    margin-right: 1vw;
}

#user-dp-btn {
    box-sizing: border-box;
    padding: 0;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 1vh;
    height: 4vh;
}

#user-dp-btn img {
    width: 3vh;
    border-radius: 5px;
}

#user-name {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    color: white;
    padding: 1vh;
    top: -0.5vh;
    margin: 0vw 0.25vw;
}

#more-btn {
    position: relative;
    box-sizing: border-box;
    top: -0.5vh;
}

#dropdown-menu {
    display: none;
    position: absolute;
    top: 6vh;
    background-color: #333;
    right: 0.8vw;
    z-index: 2;
}

#dropdown-menu button {
    width: 12vw;
    padding: 2vh;
    display: block;
    border-bottom: 1px solid #CCCCCC44;
    cursor: pointer;
}

#dropdown-menu button a {
    display: block;
    color: white;
}

#home-btn, #home-btn-txt, #user-dp-btn, #user-name, #more-btn {
    opacity: 0.8;
}

#home-btn:hover, #home-btn-txt:hover, #user-dp-btn:hover, #user-name:hover, #more-btn:hover {
    opacity: 1;
    cursor: pointer;
}

/*----------------------------MAIN-------------------------*/
main {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    height: 84vh;
    width: 75vw;
    margin: 5vh;
    text-align: left;
    background-color: rgb(248,248,248);
    box-shadow: 00px 00px 40px #999;
}

#heading-raise-a-case, #heading-my-cases, #heading-user-data-change-approvals {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 1vw;
    height: 6vh;
    background-color: #333;
    color: white;
    width: 75vw;
}

#heading-my-cases, #heading-user-data-change-approvals {
    display: none;
}

#heading-raise-a-case span, #heading-my-cases span, #heading-user-data-change-approvals span {
    position: relative;
    box-sizing: border-box;
    color: white;
    font-size: 1.2em;
    letter-spacing: 0.75px;
    top: -0.75vh;
}

#raise-a-case-content, #my-cases-content, #user-data-change-approvals-content {
    position: relative;
    box-sizing: border-box;
    display: block;
    color: black;
    margin-left: 3vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-right: 1.75vw;
}

#my-cases-content, #user-data-change-approvals-content {
    display: none;
}

/*------------------------CARDS-RIGHT-SIDE-----------------------*/

#card-right-side {
    position: absolute;
    display: inline-block;
    height: 83.79vh;
    width: calc(100vw - 75vw - 15vh);
    margin: 5vh;
    left: calc(5vh + 75vw + 5vh);
    margin-left: 0;
    text-align: center;
}

#raise-a-case-side-card, #my-cases-side-card, #user-data-change-approvals-side-card {
    position: relative;
    box-sizing: border-box;
    box-shadow: 00px 00px 30px #999;
}

#raise-a-case-side-card:hover, #my-cases-side-card:hover, #user-data-change-approvals-side-card:hover, #raise-a-case-side-card:focus, #my-cases-side-card:focus, #user-data-change-approvals-side-card:focus {
    border: none;
    box-shadow: 00px 00px 40px #888;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.2s;
}

label:hover {
    cursor: pointer;
}

.right-side-card-rotate {
    backface-visibility: hidden;
    transform: rotateY(360deg);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#rac-body, #myc-body, #usdca-body {
    box-sizing: border-box;
    padding-top: 1.5vh;
    color: black;
    height: 24.64vh;
    margin-bottom: 5vh;
}

#usdca-body {
    margin-bottom: 0;
}

.right-side-card-img {
    box-sizing: border-box;
    position: relative;
    height: 13vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
}

#rac-body label, #myc-body label {
    position: relative;
    font-size: 1.3em;
}

/*---------------------------------------------MAIN-CONTENT-----------------------------------------*/

/*--------------------RAISE-A-CASE--------------------*/
/*form, form * {
    border: 1px solid green;
}*/

form {
    display: flex;
}

#form-left-side {
    width: 50%;
    font-size: 1em;
}
#form-right-side {
    width: 50%;
    font-size: 1em;
}

#header-form-left-side, #header-form-right-side {
    font-size: 1.3em;
    font-weight: 500;
    padding-left: 1vw;
}

hr {
    margin-bottom: 5vh;
    margin-left: 0;
    width: 90%;
}

#body-form-left-side, #body-form-right-side {
    padding-left: 1vw;
}

input[type="text"], input[type="number"], select, textarea, input[type="file"] {
    margin: 0vh 0vh;
    border-radius: 0px;
    font-size: 0.9em;
    padding: 0.75vw;
    padding-left: 0.75vw;
    width: 73%;
    margin-bottom: 2vh;
    border: 1px solid #CCC;
}

input[type="text"]:focus::placeholder, input[type="number"]:focus::placeholder, textarea:focus::placeholder, input[type="file"]:focus::placeholder {
    opacity: 0.7;
}

textarea {
    font-size: 1.2em;
    font-weight: 100;
}

select {
    width: 78%;
}

label {
    display: block;
    margin-bottom: 0.5vw;
}

#id-and-bird-type {
    display: flex;
}

#id-and-bird-type label {
    display: inline;
}

#bird-option img, #animal-option img {
    vertical-align: middle;
    padding: 0vw 1vw;
    height: 3.5vw;
}

#case-id {
    width: 5vw;
    margin: 0vw 1vw 1vh 1vw;
    height: 1vh;
}

#nine-one {
    width: 5vw;
}

#contact-number {
    width: 58%;
}

#cta-btns {
    display: block;
    position: absolute;
    right: 0;
    bottom: -10vh;
}

#submit-raise-case, #reset-raise-case {
    border: 1px solid #CCC;
    padding: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    letter-spacing: 1px;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

#submit-raise-case {
    background-color: rgb(0, 160, 0);
}

#reset-raise-case {
    background-color: #333333;
    margin-right: 2vh;
}

#submit-raise-case:hover, #reset-raise-case:hover, #submit-raise-case:focus, #reset-raise-case:focus {
    box-shadow: 0px 0px 30px #AAA;
}

/*--------------------MY-CASES--------------------*/
#search-case-input {
    width: 68.5vw;
    border-radius: 0;
    padding: 1vw;
    background-image: url("/img/search-1.png");
    background-repeat: no-repeat;
    background-position: 1vw 0.5vw;
    background-size: 2vw;
    padding-left: 4vw;
    font-size: 1.05em;
    box-shadow: 0px 0px 20px #BBB;
    border: none;
    margin-bottom: 1vh;
}

input[type="search"]:focus {
    border: unset;
}

input[type="search"]:focus::placeholder {
    color: #CCC;
}

#tab-header {
    display: flex;
    margin-top: 2vh;
    background-color: #007AEA;
    color: white;
    justify-content: space-around;
    border: none;
    font-weight: 400;
    width: 68.5vw;
}

.active-header {
    font-size: 200px;
    font-weight: 900;
}

.content-table {
    width: 71.5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#tab-header span {
    font-size: 1.05em;
    padding: 0.75vw 0vw;
    width: 100vw;
    text-align: center;
    cursor: pointer;
}

#tab-content {
    display: flex;
}

#recent-tab-content, #closed-tab-content {
    display: none;
}

.my-cases-result {
    border-collapse: collapse;
    width: 71.5vw;
    counter-reset: section;
    margin-top: 4.1vh;
}

#active-content-table, #recent-content-table, #closed-content-table {
    max-height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.sr-no-div {width: 8vw;} .case-id-div {width: 15vw;} .case-status-div {width: 15vw;} .date-div {width: 13vw;} .animal-type-div {width: 28vw;} .case-name-div {width: 19vw;}
.sr-no {width: 8vw;} .case-id {width: 15vw;} .case-status {width: 15vw;} .date {width: 13vw;} .animal-type {width: 28vw;} .case-name {width: 19vw;}

li {
    list-style-type: none;
}

li::before {
    counter-increment: section;
    content: counters(section,".") ". ";
}

.row {
    display: flex;
    font-size: 1.05em;
    letter-spacing: 0.5px;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.row:hover {
    color: #007AEA;
    cursor: pointer;
}

.row:first-child {
    border-top: none;
}



.tab-header-animation {
    animation: tab-header 0.5s forwards 0s cubic-bezier(0.175, 0.885, 0.32, 1.20);
}

@keyframes tab-header {
    0% {
        transform: scale(0) translateX(50px); 
    }
    100% {
        transform: scale(1) translateX(0);
    }
}

.tab-content-animation {
    animation: tab-content 0.5s forwards 0s ease-in-out;
}

@keyframes tab-content {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*--------------------USER-DATA-CHANGE-APPROVALS--------------------*/
#user-data-change-approvals-content {
    margin-top: 5vh;
    margin-right: 5vh;
    height: 68vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#dynamic_image_enlarge {
    display: none;
    position: absolute;
    width: 62vw;
    height: 60vh;
    background-color: rgba(222, 184, 134, 1);
    z-index: 101;
    padding: 2vw 4vw;
    text-align: center;
}

#dynamic_image_enlarge img {
    height: 54vh;
}

#dynamic_image_enlarge button {
    background-color: #333;
    color: white;
    padding: 1vw 2vw;
    float: right;
    letter-spacing: 1px;
}

.dynamic_usdca_member {
    margin-bottom: 2vh;
    box-shadow: 0px 0px 20px #AAA;
}

.user-info {
    padding: 1vw;
    background-color: #007AEA;
    color: white;
}

.usdca-user-name:hover, .usdca-user-name:hover:focus, .usdca-user-role:hover, .usdca-user-role:focus {
    text-shadow: 0px 0px 20px #fff;
    cursor: pointer;
}

.usdca-user-role {
    float: right;
}

.wrapper {
    display: flex;
}

.old-photo, .new-photo {
    width: 18vw;
    cursor: pointer;
}

.approve, .reject {
    width: 17vw;
    padding: 0;
    cursor: pointer;
}

        /*#user-data-change-approvals-content * {
            border: 1px solid burlywood;
        }*/