/*---------GLOBAL---------------------------*/
a {color: #333;}
a:hover{color: #007AEA;}
/*------------------------------------------*/
#logoImage {
    margin-top: 3vh;
    max-width: 20vw;
    height: auto;
}

#invalid {
    color: red;
    font-weight: 500;
    font-size: 1.2em;
    font-style: italic;
    margin-top: 3vh;
}

#user-credentials {
    margin-top: 5vh;
    margin-bottom: 3vh;
}

#username {
    color: #1f1f1f;
    letter-spacing: 1px;
    padding: 3vw;
    border-radius: 0px;
    border: 1px solid #cccccc;
}

#pass {
    margin-top: 1vh;
    color: #1f1f1f;
    letter-spacing: 1px;
    padding: 3vw;
    border-radius: 0px;
    border: 1px solid #cccccc;
}
#pass:focus, #username:focus {
    border: 1px solid #333;
}

#loginButton {
    margin-top: 1vh;
    color: floralwhite;
    background-color: #374047;
    cursor: pointer;
    padding: 1.6vh;
    letter-spacing: 1px;
    font-size: 1em;
    box-shadow: 0px 0px 5px #CCC;
}

#loginButton:hover {
    box-shadow: 0px 0px 30px #999;
}

#footer {
    margin-top: 4vh;
}

#footer a {
    display: block;
    margin-top: 2vh;
}

#info-btn {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 1.6vh;
    letter-spacing: 0.3vh;
    position: absolute;
    top: 2vh;
    right: 2vw;
    width: 13vw;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------*/
#aboutus {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #37404769;
    text-align: center;
    opacity: 0.9;
    position: absolute;
    z-index: 1000;
    padding-bottom: 10%;
}

#aboutus-info {
    margin-left: 8%;
    margin-top: 30%;
    margin-right: 8%;
    background-color: #374047;
    color: white;
    text-align: start;
    font-size: 1.2em;
    padding: 5%;
    letter-spacing: 1px;
}

#backbutton {
    margin-top: 1vh;
    outline: none;
    border: none;
    position: absolute;
    bottom: 20vh;
    right: 8%;
    padding: 0.8em;
    background-color: rgb(230, 230, 230);
    font-size: 1em;
    letter-spacing: 1px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1025px) {
    #login-main {
        padding-top: 10vh;
    }

    #username, #pass {
        width: 25%;
        padding: 1vw;
        border-radius: 0px;
    }

    #loginButton{
        font-size: 1em;
        letter-spacing: 2px;
    }

    #info-btn {
        width: 5vw;
    }

    #aboutus{
        padding-bottom: 0%;
    }

    #aboutus-info {
        margin-top: 5%;
        margin-left: 2vw;
        margin-right: 3vw;
    }

    #backbutton {
        right: 3vw;
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 1024px) {
    #logoImage {
        margin-top: -8vw;
        max-width: 60vw;
        height: auto;
    }

    #username {
        font-size: 1em;
        width: 60%;
    }

    #pass {
        font-size: 1em;
        width: 60%;
    }

    #loginButton {
        font-size: 1em;
    }

    #login-main {
        padding-top: 15vh;
    }

    #footer {
        font-size: 1em;
    }
}

@media only screen and (max-width: 360px) {
    #username, #pass {
        padding: 3vw;
    }

    #logoImage {
        max-width: 50vw;
        height: auto;
    }
}