<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Request Registration</title>
    <link href="/static/css/basic-template.css" rel="stylesheet" th:href="@{/css/basic-template.css}">
    <link href="/static/css/RequestRegistration/preview.css" rel="stylesheet"
          th:href="@{/css/RequestRegistration/preview.css}">

</head>
<body>

<!-- div class="bg"></div -->
<form action="/registration" enctype="multipart/form-data" method="post" th:object="${user}">
    <div class="heading">
        Join Us
    </div>

    <main>
        <div id="step1">
            <img onclick="window.location = '/registration' " src="/static/img/edit.png" th:src="@{/img/edit.png}">
            <label>I am a: </label>
            <div id="volrole-selected" style="display: inline-block" th:field="*{role}" th:text="*{role}">#volrole</div>
        </div>
        <div id="step2">
            <img onclick="window.location = '/registration?page=1' " src="/static/img/edit.png"
                 th:src="@{/img/edit.png}">
            <div id="first-name" th:field="*{firstName}" th:text="*{firstName}">#firstname</div>
            <div id="last-name" th:field="*{lastName}" th:text="*{lastName}">#lastname</div>
            <br>
            <Label>Date of Birth: </Label>
            <div id="DOB" th:field="*{dob}" th:text="*{dob}">#DOB</div>
            <br>
            <div id="+91">+91</div>
            -
            <div id="mobileno" th:field="*{mobile}" th:text="*{mobile}">#mobileno</div>
            <br>
            <label>Gender: </label>
            <div id="gender" th:field="*{gender}" th:text="*{gender}">#gender</div>
            <br>
            <label>Email ID: </label>
            <div id="emailID" th:field="*{email}" th:text="*{email}">#email</div>
            <br>
            <label style="font-size: 1.1em; font-weight: 700;">Security Question:</label><br>
            <div id="secquestion" th:field="*{securityQId}" th:text="*{securityQId}">#secquestion</div>
            <br>
            <div id="secresponse" th:field="*{securityQAns}" th:text="*{securityQAns}">#secanswer</div>
            <br>
        </div>
        <div id="step3">
            <!-- <img th:src="@{/img/edit.png}" src = "/static/img/edit.png" onclick="window.location = '/registration?page=2' "> -->
            <div id="profilepic"><img src="" th:src="*{'data:image/png;base64,'+getEncodedImage()}"></div>
            <div id="usernasme" th:field="*{userName}" th:text="*{userName}">#username</div>
            <div id="password">#passsword</div>
            <br>
        </div>

    </main>

    <div class="footer-btns" id="footer-btns">
        <div style="display:inline-block;">
            <input id="next" name="SubmitApplication" type="submit" value="Submit">
            <!--<input type = "submit" name = "SubmitApplication" id = "next" value = "Submit" onclick="window.location.assign('/templates/RequestRegistration/reg-complete.html');">-->
        </div>
    </div>

    <input name="page" type="hidden" value="3">
</form>
</body>
</html>