<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Request Registration</title>
    <link href="/static/css/basic-template.css" rel="stylesheet" th:href="@{/css/basic-template.css(v=1550307657)}">
    <link href="/static/css/RequestRegistration/Preview.css" rel="stylesheet" th:href="@{/css/RequestRegistration/Preview.css(v=1550307657)}">
    <link rel="manifest" href="/static/icons/manifest.json" th:href="@{/icons/manifest.json(v=1550307657)}">

</head>
<body>

<form action="/registration" enctype="multipart/form-data" method="post" th:object="${user}">
    <div class="heading">
        Join Us
    </div>
    <main>
        <div id="step1">
            <div class="step-header">
                <img onclick="window.location = '/registration' " src="/static/img/edit.png" th:src="@{/img/edit.png}">
                <span>I am a: </span>
                <span id="volrole-selected" th:field="*{role}" th:text="*{role}">#volrole</span>
            </div>
        </div>
        <div id="step2">
            <img onclick="window.location = '/registration?page=1' " src="/static/img/edit.png" th:src="@{/img/edit.png}">
            <div class="step-header">Basic Details</div>
            <span>Name: </span>
            <span id="first-name" th:field="*{firstName}" th:text="*{firstName}">#firstName</span>
            <span id="last-name" th:field="*{lastName}" th:text="*{lastName}">#lastName</span>
            <br>
            <span>Date of Birth: </span>
            <span id="DOB" th:field="*{dob}" th:text="*{dob}">#DOB</span>
            <br>
            <span>Mobile No.: </span>
            <span id="+91">+91 - </span>
            <span id="mobileno" th:field="*{mobile}" th:text="*{mobile}">#mobileNo</span>
            <br>
            <span>Gender: </span>
            <span id="gender" th:field="*{gender}" th:text="*{gender}">#gender</span>
            <br>
            <span>Email ID: </span>
            <span id="emailID" th:field="*{email}" th:text="*{email}">#email</span>
            <br>

            <span style="text-decoration:underline;">Security Question:</span><br>
            <span id="secquestion" th:field="*{securityQIdStr}" th:text="*{securityQIdStr}">#secQuestion</span>

            <br>
            <span id="secresponse" th:field="*{securityQAns}" th:text="*{securityQAns}">#secAnswer</span>
            <br>
        </div>
        <div id="step3">
            <img th:src="@{/img/edit.png}" src = "/static/img/edit.png" onclick="window.location = '/registration?page=2' ">
            <div class="step-header" style="margin-bottom:1vh">Login Credentials</div>
            <div id="usernasme" th:field="*{userName}" th:text="*{userName}">#userName</div>
            <div>
                <input type="password" value="#password" id="password" name="password" th:value="*{password}" disabled>
                <button type="button" id="show_pass">Show Password</button></div>
            <br>
        </div>
    </main>

    <div class="footer-btns" id="footer-btns">
        <input id="submitApplication" name="submitApplication" type="submit" value="Submit">
    </div>

    <input name="page" type="hidden" value="3">

    <script>
        var pass_state = true;
        document.getElementById("show_pass").onclick = function(){
            if(pass_state === true){
                document.getElementById("show_pass").innerHTML = "Hide Password";
                document.getElementById('password').setAttribute('type','text');
                pass_state = !pass_state;
            }
            else {
                document.getElementById("show_pass").innerHTML = "Show Password";
                document.getElementById('password').setAttribute('type','password');
                pass_state = !pass_state;
            }
        };
    </script>
</form>
</body>
</html>
