<!DOCTYPE html>

<html  lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Request Registration</title>
    <link rel="stylesheet"  th:href="@{/css/basic-template.css}" href="/static/css/basic-template.css">
    <link rel="stylesheet" th:href="@{/css/RequestRegistration/Step1.css} " href="/static/css/RequestRegistration/Step1.css">
    
</head>
<body>    
    <div class = "heading">
        Join Us
    </div>
    <div id="progress-bar" class="progress-bar">
        <div id = "progress-bar-1" class="progress-bar-status">1</div>
        <div id = "progress-bar-2" class="progress-bar-status"></div>
        <div id = "progress-bar-3">2</div>
        <div id = "progress-bar-4"></div>
        <div id = "progress-bar-5">3</div>        
    </div>
    <main>
        <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
        <!-- STEP 1 -->
        <div id = "step1">
            <div id="volrole" class="volrole">
                I am a
            </div>
            <div id = "volrole-selector" class = "volrole-selector">
                <div id="role-row-1">
                    <span>
                        <button name="role" value="Volutneer" type="submit" th:field="*{role}" th:href="@{/registration}">
                            <img th:src="@{/img/Volunteer-11.png}" src="/static/img/Volunteer-11.png" alt="Volunteer" id="role-btn-1">
                            <label id = "btn-label-1">Volutneer</label>
                        </button>
                    </span>
                    <span>
                        <button name="role" value="Driver" type="submit" th:field="*{role}" th:href="@{/registration}">
                            <img th:src="@{/img/Driver-11.png}" src="/static/img/Driver-11.png" alt="Driver" id="role-btn-2">
                            <label id = "btn-label-2">Driver</label>
                        </button>
                    </span>   
                </div>
                <div id="role-row-2">
                    <span>
                        <button name="role" value="Doctor" type="submit" th:field="*{role}" th:href="@{/registration}">
                            <img th:src="@{/img/Doctor-11.png}" src="/static/img/Doctor-11.png" alt="Doctor" id="role-btn-3">
                            <label id = "btn-label-3">Doctor</label>
                        </button>
                    </span>
                    <span onclick="others()" id="options-2">
                        <button type="button">
                            <img th:src="@{/img/options11.png}" src="/static/img/options11.png" alt="Others" id="role-btn-4">
                            <label id = "btn-label-4">Others</label>
                        </button>
                    </span>
                </div>
                <div id="role-row-2">
                    <span id="Receptionist">
                        <button name="role" value="Receptionist" type = "submit" th:field="*{role}" th:href="@{/registration}">
                            <img th:src="@{/img/Call Attender-11.png}" src="/static/img/Call Attender-11.png" alt="Receptionist" id="role-btn-5">
                            <label id = "btn-label-5">Receptionist</label>
                        </button>
                    </span>
                    <span id="Fosterer">
                        <button name="role" value="Fosterer" type = "submit" th:field="*{role}" th:href="@{/registration}">
                            <img th:src="@{/img/Fosterer-11.png}" src="/static/img/Fosterer-11.png" alt="Fosterer" id="role-btn-6">
                            <label id = "btn-label-6">Fosterer</label>
                        </button>
                    </span>
                </div>
            </div>
        </div> 

        <div class = "footer">
            <button type="button"><a th:href="@{/}" href = "/templates/Index.html"><img th:src="@{/img/home-1.png}" src = "/static/img/home-1.png"></a></button>
        </div>
            <input type="hidden" name="page" value="1">
        </form>
    </main>

    <script>
        var anim_start = false;
        function others(){
            anim_start = !anim_start;
            if (anim_start === true){
                document.getElementById('Receptionist').classList.remove('receptionist-end');
                document.getElementById('Fosterer').classList.remove('fosterer-end');
                document.getElementById('Receptionist').classList.add('receptionist');
                document.getElementById('Receptionist').style.display = "inline";
                document.getElementById('Fosterer').classList.add('fosterer');
                document.getElementById('Fosterer').style.display = "inline";
                setTimeout(function(){
                    document.getElementById('role-btn-4').setAttribute("src","/static/img/options11-2.png");
                    document.getElementById('role-btn-4').setAttribute("th:src","@{/img/options11-2.png}");
                }, 500);
            }
            else {
                document.getElementById('Receptionist').classList.remove('receptionist');
                document.getElementById('Fosterer').classList.remove('fosterer');
                document.getElementById('Receptionist').classList.add('receptionist-end');
                document.getElementById('Fosterer').classList.add('fosterer-end');
                setTimeout(function(){
                document.getElementById('role-btn-4').setAttribute("src","/static/img/options11.png");
                document.getElementById('role-btn-4').setAttribute("th:src","@{/img/options11.png}");
                }, 500);
            }
        }
    </script>
</body>
</html>