<!DOCTYPE html>

<html  lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Request Registration</title>
    <link rel="stylesheet"  th:href="@{/css/basic-template.css}" href="/static/css/basic-template.css">
    <link rel="stylesheet" th:href="@{/css/RequestRegistration/Step1.css} " href="/static/css/RequestRegistration/Step1.css">
    
</head>
<body>    
    <div class = "heading">
        Join Us
    </div>
    <div id="progress-bar" class="progress-bar">
        <div id = "progress-bar-1" class="progress-bar-status">1</div>
        <div id = "progress-bar-2" class="progress-bar-status"></div>
        <div id = "progress-bar-3">2</div>
        <div id = "progress-bar-4"></div>
        <div id = "progress-bar-5">3</div>        
    </div>
    <main>
        <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
        <!-- STEP 1 -->
        <div id = "step1">
            <div id="volrole" class="volrole">
                I am a
            </div>
            <div id = "volrole-selector" class = "volrole-selector">
                <ul id="role-row-1">
                    <li>
                        <input type="submit" name="role" value="Volunteer" id="role-tile-1" th:field="*{role}"><br><br>
                        <label for="role-tile-1">Volunteer</label>
                    </li>
                    <li>
                        <input type="submit" name="role" value="Doctor" id="role-tile-2" th:field="*{role}"><br><br>
                        <label for="role-tile-2">Doctor</label>
                    </li>   
                </ul>
                <ul id="role-row-2">
                    <li>
                        <input type="submit" name="role" value="Driver" id="role-tile-3" th:field="*{role}"><br><br>
                        <label for="role-tile-3">Driver</label>
                    </li>
                    <li>
                        <input type="submit" name="role" value="" id="role-tile-4"><br><br>
                        <label for="role-tile-4">Others</label>
                    </li>
                </ul>
                <ul id="role-row-2">
                    <li>
                        <input type="submit" name="role" value="Receptionist" id="role-tile-5" th:field="*{role}"><br><br>
                        <label for="role-tile-5">Receptionist</label>
                    </li>
                    <li>
                        <input type="submit" name="role" value="Fosterer" id="role-tile-6" th:field="*{role}"><br><br>
                        <label for="role-tile-6">Fosterer</label>
                    </li>
                </ul>
            </div>
        </div> 

        <div class = "footer">
            <button><a th:href="@{/}" href = "Index.html"><img src = "/static/img/home-1.png"></a></button>
        </div>
            <input type="hidden" name="page" value="1">
        </form>
    </main>

    <script>
        function animation(){
            document.getElementById('Receptionist').style.display = "inline-block";
            document.getElementById('Receptionist').classList.add('receptionist');
            document.getElementById('Fosterer').style.display = "inline-block";
            document.getElementById('Fosterer').classList.add('fosterer');
            document.getElementById('options-2').classList.add('option-btn-end');
        }
    </script>
</body>
</html>