<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>Bird Helpline</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link href="/static/css/admin-dashboard.css" rel="stylesheet" th:href="@{/css/admin-dashboard.css}">
    <link rel="manifest" href="/static/icons/manifest.json" th:href="@{/icons/manifest.json}">
</head>
<body>
WELCOME ADMIN
</body>
</html>