<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>Bird Helpline</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="manifest" href="/static/icons/manifest.json" th:href="@{/icons/manifest.json(v=1550307657)}">
</head>
<body>

<div class="bg"></div>

<div class="wrapper">
    <h2>There was some error , we regret the inconvenience.<a href="/"> Go back to home page</a></h2>
</div>

</body>
</html>
