<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Request Registration</title>
    <link rel="stylesheet" href="/static/css/basic-template.css" th:href="@{/css/basic-template.css}">
    <link rel="stylesheet" href="/static/css/forgot-password.css" th:href="@{/css/forgot-password.css}">
    <script src="/static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>

</head>
<body>

<!-- div class="bg"></div --->

<main>
    <div id="header">Forgot Password</div>

    <div id="inputdetails" class="inputdetails">
        <!--<form th:method="POST" th:action="@{/forgotPassword}" action="" name="inputdetails" id="inputdetailsForm">-->
        <form name="inputdetails" id="inputdetailsForm">
            <div>
                <span id="error" hidden>Input details don't match</span>
                <div id="birthdate" class="birthdate">
                    <p>Date of Birth: </p>
                    <input type="date" name="birthdate" id="birthdate" required>
                </div>
                <div id="phoneNo" class="phoneNo">
                    <input type="text" value="+91" name="contact-number-1" autocomplete="off" disabled
                           style="color:black;"> -
                    <input type="text" placeholder="Mobile Number" name="contact-number" autocomplete="off"
                           style="width: 72vw" required>
                </div>
                <div id="securityquestion" class="securityquestion">
                    <p>Security Question</p>
                    <select name="securityquestion" id="securityquestion" required>
                        <!--<option value="1">1. What is your favourite Sport?</option>-->
                        <option th:each="o : ${securityQs}" th:text="${o.getValue()}" th:value="${o.getKey()}"
                                value="1">1. What is your favourite Sport?
                        </option>
                        <!--<option value="2">2. Which floor do you live on?</option>-->
                        <!--<option value="3">3. What is your Place of Birth?</option>-->
                    </select>

                    <input type="text" placeholder="Your response" name="securityanswer" autocomplete="off"
                           id="securityanswer" required>
                </div>
            </div>
            <div>
                <!--<button id = "next-btn" onclick="window.location.assign('/templates/signIn.html');">-->
                <button id="next-btn1" class="next-btn">
                    <img src="/static/img/next-button21.png" th:src="@{/img/next-button21.png}" alt="next" id="previous">
                </button>
            </div>

        </form>
    </div>
    <div id="passwordResetDiv" hidden>
        <form th:action="@{/forgotPassword}" th:method="POST">

            <label for="newPassword">New Password:</label>
            <input type="password" pattern="[0-9]{4}" title="4 digit password" name="password"
                   placeholder="4 digit password" autocomplete="off" id="newPassword" required>
            <!--<button id = "next-btn">-->
            <!--<img src="/static/img/next-button21.png" th:src="@{/img/next-button21.png}" alt = "next" id = "previous">-->
            <!--</button>-->
            <div>
                <!--<button id = "next-btn" onclick="window.location.assign('/templates/signIn.html');">-->
                <button id="next-btn2" class="next-btn">
                    <img src="/static/img/next-button21.png" th:src="@{/img/next-button21.png}" alt="next" id="previous">
                </button>
            </div>
        </form>
    </div>




</main>
<script>
    $(document).ready(function () {
        $('#next-btn1').click(function (e) {
            //console.log(e);

            console.info("vkj ")
            if ($('#inputdetailsForm')[0].checkValidity()) {
                e.preventDefault();
                var formData = $('form').serialize();
                //alert(formData);
                console.info(formData);
                //return;
                $.ajax({
                    url: '/validateForgotPasswdDetails',
                    type: 'POST',
                    data: formData,

                    success: function (data) {
                        console.log(data);
                        if (data == "valid") {
                            $('#passwordResetDiv').show();
                            $('#inputdetails').hide();
                        } else {
                            $('#error').show();
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }

        })

    });

</script>

</body>
</html>