<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Request Registration</title>
    <link href="/static/css/basic-template.css" rel="stylesheet" th:href="@{/css/basic-template.css}">
    <link href="/static/css/forgot-password.css" rel="stylesheet" th:href="@{/css/forgot-password.css}">
    <script src="/static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <link rel="manifest" href="/static/icons/manifest.json" th:href="@{/icons/manifest.json}">

</head>
<body>

<!-- div class="bg"></div --->

<main>
    <div id="header">Forgot Password</div>

    <div class="inputdetails" id="inputdetails">
        <!--<form th:method="POST" th:action="@{/forgotPassword}" action="" name="inputdetails" id="inputdetailsForm">-->
        <form id="inputdetailsForm" name="inputdetails">
            <div>
                <span hidden id="error">Input details don't match</span>
                <div class="birthdate" id="birthdate">
                    <p>Date of Birth: </p>
                    <input id="birthdate" name="birthdate" required type="date">
                </div>
                <div class="phoneNo" id="phoneNo">
                    <input autocomplete="off" disabled name="contact-number-1" style="color:black;" type="text" value="+91"> -
                    <input autocomplete="off" name="contact-number" placeholder="Mobile Number" required style="width: 72vw" type="text">
                </div>
                <div class="securityquestion" id="securityquestion">
                    <p>Security Question</p>
                    <select id="securityquestion" name="securityquestion" required>
                        <!--<option value="1">1. What is your favourite Sport?</option>-->
                        <option th:each="o : ${securityQs}" th:text="${o.getValue()}" th:value="${o.getKey()}" value="1">1. What is your favourite Sport?
                        </option>
                        <!--<option value="2">2. Which floor do you live on?</option>-->
                        <!--<option value="3">3. What is your Place of Birth?</option>-->
                    </select>

                    <input autocomplete="off" id="securityanswer" name="securityanswer" placeholder="Your response" required type="text">
                </div>
            </div>
            <div>
                <!--<button id = "next-btn" onclick="window.location.assign('/templates/signIn.html');">-->
                <button class="next-btn" id="next-btn1">
                    <img alt="next" id="previous" src="/static/img/next-button21.png" th:src="@{/img/next-button21.png}">
                </button>
            </div>

        </form>
    </div>
    <div hidden id="passwordResetDiv">
        <form th:action="@{/forgotPassword}" th:method="POST">

            <label for="newPassword">New Password:</label>
            <input autocomplete="off" id="newPassword" name="password" pattern="[0-9]{4}" placeholder="4 digit password" required title="4 digit password" type="password">
            <!--<button id = "next-btn">-->
            <!--<img src="/static/img/next-button21.png" th:src="@{/img/next-button21.png}" alt = "next" id = "previous">-->
            <!--</button>-->
            <div>
                <!--<button id = "next-btn" onclick="window.location.assign('/templates/signIn.html');">-->
                <button class="next-btn" id="next-btn2">
                    <img alt="next" id="previous" src="/static/img/next-button21.png" th:src="@{/img/next-button21.png}">
                </button>
            </div>
        </form>
    </div>


</main>
<script>
    $(document).ready(function () {
        $('#next-btn1').click(function (e) {
            //console.log(e);

            console.info("vkj ");
            if ($('#inputdetailsForm')[0].checkValidity()) {
                e.preventDefault();
                var formData = $('form').serialize();
                //alert(formData);
                console.info(formData);
                //return;
                $.ajax({
                    url: '/validateForgotPasswdDetails',
                    type: 'POST',
                    data: formData,

                    success: function (data) {
                        console.log(data);
                        if (data == "valid") {
                            $('#passwordResetDiv').show();
                            $('#inputdetails').hide();
                        } else {
                            $('#error').show();
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }

        })

    });

    setTimeout(function () {
        let viewheight = $(window).height();
        let viewwidth = $(window).width();
        let viewport = document.querySelector("meta[name=viewport]");
        viewport.setAttribute("content", "height=" + viewheight + "px, width=" + viewwidth + "px, initial-scale=1.0");
    }, 300);
</script>

</body>
</html>