<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Request Registration</title>
    <link rel="stylesheet" href="/static/css/basic-template.css">
    <link rel="stylesheet" href="/static/css/forgot-password.css">
    
</head>
<body>

    <!-- div class="bg"></div --->
        
    <main>
        <div id = "header">Forgot Password</div>

        <div id = "inputdetails" class = "inputdetails">
            <form action="" name = "inputdetails">
                <div>
                    <div id="birthdate" class="birthdate">
                            <p>Date of Birth: </p>
                            <input type="date" name="birthdate" id = "birthdate">
                    </div>
                    <div id="phoneNo" class="phoneNo">
                        <input type = "text" value="+91" name = "contact-number-1" autocomplete = "off" disabled style="color:black;"> - 
                        <input type = "text" placeholder="Mobile Number" name = "contact-number" autocomplete = "off" style="width: 72vw">
                    </div>
                    <div id = "securityquestion" class = "securityquestion">
                        <p>Security Question</p>
                            <select name = "securityquestion" id = "securityquestion">
                                <option value=""></option>
                            </select><br>
                            <input type = "text" placeholder = "Your response" name = "securityanswer" autocomplete="off" id = "securityanswer">
                    </div>
                </div>
            </form>
            <div>
                <button id = "next-btn" onclick="window.location.assign('/templates/signIn.html');">
                    <img src="/static/img/next-button21.png" alt = "next" id = "previous">
                </button>
            </div>
        </div>


    </main>


</body>
</html>