<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="#374047" name="theme-color">
    <title>Bird & Animal Helpline</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="yes" name="mobile-web-app-capable">
    <meta content="Helpling Birds and Animals in distress is our Business. We cover most of Mumbai with the help of various other Ngo's." name="Description">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="/static/css/basic-template.css" rel="stylesheet" th:href="@{/css/basic-template.css}">
    <link href="/static/css/index.css" rel="stylesheet" th:href="@{/css/index.css}">

    <link href="/static/icons/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57" th:href="@{/icons/apple-icon-57x57.png}">
    <link href="/static/icons/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60" th:href="@{/icons/apple-icon-60x60.png}">
    <link href="/static/icons/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" th:href="@{/icons/apple-icon-72x72.png}">
    <link href="/static/icons/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" th:href="@{/icons/apple-icon-76x76.png}">
    <link href="/static/icons/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114" th:href="@{/icons/apple-icon-114x114.png}">
    <link href="/static/icons/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" th:href="@{/icons/apple-icon-120x120.png}">
    <link href="/static/icons/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144" th:href="@{/icons/apple-icon-144x144.png}">
    <link href="/static/icons/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" th:href="@{/icons/apple-icon-152x152.png}">
    <link href="/static/icons/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" th:href="@{/icons/apple-icon-180x180.png}">
    <link href="/static/icons/apple-icon-512x512.png" rel="apple-touch-icon" sizes="180x180" th:href="@{/icons/apple-icon-512x512.png}">
    <link href="/static/icons/android-icon-192x192.png" rel="icon" sizes="192x192" th:href="@{/icons/android-icon-192x192.png}" type="image/png">
    <link href="/static/icons/android-icon-512x512.png" rel="icon" sizes="192x192" th:href="@{/icons/android-icon-512x512.png}" type="image/png">
    <link href="/static/icons/favicon-32x32.png" rel="icon" sizes="32x32" th:href="@{/icons/favicon-32x32.png}" type="image/png">
    <link href="/static/icons/favicon-96x96.png" rel="icon" sizes="96x96" th:href="@{/icons/favicon-96x96.png}" type="image/png">
    <link href="/static/icons/favicon-16x16.png" rel="icon" sizes="16x16" th:href="@{/icons/favicon-16x16.png}" type="image/png">
    <link href="/static/icons/favicon-512x512.png" rel="icon" sizes="16x16" th:href="@{/icons/favicon-512x512.png}" type="image/png">
    <link href="/static/icons/manifest.json" rel="manifest" th:href="@{/icons/manifest.json}">
    <meta content="#333333" name="msapplication-TileColor">
    <meta content="/static/icons/ms-icon-144x144.png" name="msapplication-TileImage" th:href="@{/icons/ms-icon-144x144.png}">
    <meta content="/static/icons/ms-icon-512x512.png" name="msapplication-TileImage" th:href="@{/icons/ms-icon-512x512.png}">
    <meta content="#CCCCCC" name="theme-color">
</head>

<body>
<main id="main">
    <div>
        <button class="info-btn"><a onclick="aboutus();"><img alt="About Us" src="/static/img/aboutus.png" style="width: 100%; height: auto; padding: 0;" th:src="@{/img/aboutus.png}"></a></button>
    </div>
    <div>
        <div>
            <img alt="Logo" class="logoImage" src="/static/img/Logo1.png" th:src="@{/img/Logo1.png}"><br><br>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-dark active" onclick="window.location.assign('/registration');"
                   style="font-size: 1.2em;">
                <input autocomplete="off" checked id="option1" name="options" type="radio"> Create an Account
            </label>
            <label class="btn btn-dark" onclick="window.location.assign('/signIn');" style="font-size: 1.2em;">
                <input autocomplete="off" id="option2" name="options" type="radio"> Sign In
            </label>
        </div>
    </div>
</main>

<div id="aboutus">
    <div id="aboutus-info">
        Helpling Birds and Animals in distress is our Business.<br>
        We cover most of Mumbai with the help of various other Ngo's.<br> <br>
        Call on - 8655370005 for HELP !!<br>
    </div>
    <button class="btn" id="backbutton" onclick="gohome()" type="button">Back</button>
</div>

<!--<div id="pwa" class="pwa">
    Install Bird and Animal Helpline to your Desktop<br>
    <button type="submit" id="install">Install</button>
    <button type="button" id="not-now">Not Now</button>
</div>-->

<!--<script>
    let deferredPrompt;

    window.addEventListener('beforeinstallprompt', (e) => {
    // Prevent Chrome 67 and earlier from automatically showing the prompt
    e.preventDefault();
    // Stash the event so it can be triggered later.
    deferredPrompt = e;
    // Update UI notify the user they can add to home screen
    document.getElementById("pwa").style.display = "block";
    });
</script>-->

<script>
    //This is the "Offline page" service worker

    //Install stage sets up the offline page in the cache and opens a new cache
    self.addEventListener('install', function (event) {
        var offlinePage = new Request('/templates/offline.html');
        event.waitUntil(
            fetch(offlinePage).then(function (response) {
                return caches.open('pwabuilder-offline').then(function (cache) {
                    console.log('[PWA Builder] Cached offline page during Install' + response.url);
                    return cache.put(offlinePage, response);
                });
            }));
    });

    //If any fetch fails, it will show the offline page.
    //Maybe this should be limited to HTML documents?
    self.addEventListener('fetch', function (event) {
        event.respondWith(
            fetch(event.request).catch(function (error) {
                    console.error('[PWA Builder] Network request Failed. Serving offline page ' + error);
                    return caches.open('pwabuilder-offline').then(function (cache) {
                        return cache.match('/templates/offline.html');
                    });
                }
            ));
    });

    //This is a event that can be fired from your page to tell the SW to update the offline page
    self.addEventListener('refreshOffline', function (response) {
        return caches.open('pwabuilder-offline').then(function (cache) {
            console.log('[PWA Builder] Offline page updated from refreshOffline event: ' + response.url);
            return cache.put(offlinePage, response);
        });
    });
</script>

<script>/*
    //This is the service worker with the combined offline experience (Offline page + Offline copy of pages)

    //Add this below content to your HTML page, or add the js file to your page at the very top to register service worker
    if (navigator.serviceWorker.controller) {
        console.log('[PWA Builder] active service worker found, no need to register')
    } else {

        //Register the ServiceWorker
        navigator.serviceWorker.register('/pwabuilder-sw.js', {
            scope: './'
        }).then(function (reg) {
            console.log('Service worker has been registered for scope:' + reg.scope);
        });
    }*/
</script>

<script>
    function aboutus() {
        document.getElementById('main').style.display = "none";
        document.getElementById('aboutus').style.display = "block";
    }

    function gohome() {
        document.getElementById('aboutus').style.display = "none";
        document.getElementById('main').style.display = "block";
    }
</script>
</body>
</html>