<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="manifest" href="/static/icons/manifest.json" th:href="@{/icons/manifest.json(v=1550307657)}">
    <title>Offline Bird and Animal Helpline</title>
</head>
<body>
<h1>Looks like you're offline. Get back up on the internet to access this application.</h1>
</body>
</html>
