<!DOCTYPE html>

<html  lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bird Helpline</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/basic-template.css" th:href="@{/css/basic-template.css}">
    <link rel="stylesheet" href="/static/css/receptionist-dashboard.css" th:href="@{/css/receptionist-dashboard.css}">
    <script src="/static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>

</head>
<body>

    <nav id="top-nav" class="no-select">
        <span id="left-side" class="no-select">
            <button id="home-btn" type="button" class="no-select"><img src="/static/img/home-white.png" th:src="@{/img/home-white.png}" width="" height="" alt="Home"></button><span id="home-btn-txt" class="no-select"> Home</span>
        </span>
        <span id="right-side" class="no-select">
            <button id="user-dp-btn" type="button"><img src="/static/img/display-picture11.png" th:src="@{/img/display-picture11.png}" width="" height="" alt="DP"></button>
            <span id="user-name" th:text="${user.userName}">#User_Name</span>
            <span id="more-btn">&#x25BC;</span>
        </span>
        <div id="dropdown-menu" class="no-select" style="display: none;">
            <button><a href="#">Profile</a></button>
            <button><a href="#">Change PIN</a></button>
            <button><a href="#">Change Mobile No.</a></button>
            <button><a href="#">Change Address</a></button>
            <button><a href="#">Logout</a></button>
        </div>
    </nav>

    <main>
        <div id="heading-raise-a-case">
            <span id="rac-heading-animation">Raise a Case</span>
        </div>
        <div id="heading-my-cases">
            <span id="myc-heading-animation">My Cases</span>
        </div>
        <div id="heading-user-data-change-approvals">
            <span id="usdca-heading-animation">Data Change Approvals</span>
        </div>
<!-------------------------------- RAISE-A-CASE-------------------------------------------->
        <div id="raise-a-case-content">
            <form action="" id="raise-a-case-form" >
                <div id="form-left-side">
                    <div id="header-form-left-side">Animal/Bird Information</div>
                    <hr>
                    <div id="body-form-left-side">
                        <div id="id-and-bird-type">
                            <label for="case-id">Case ID </label>
                            <input type="number" id="case-id" name="case-id" disabled placeholder="" required autocomplete="off">
                            <div>
                                <input type="radio" name="bird-or-animal" id="bird-or-animal1" value="Animal" required tabindex="1">
                                    <label for="bird-or-animal1" id="bird-option"><img src="/static/img/bird1.png" th:src="@{/img/bird1.png}" alt="Bird" width="50vw"></label>
                                <input type="radio" name="bird-or-animal" id="bird-or-animal2" value="Bird" tabindex="2">
                                    <label for="bird-or-animal2" id="animal-option"><img src="/static/img/animal.png" th:src="@{/img/animal.png}" width="50vw" alt="Animal"></label>
                            </div>
                        </div>
                        <label for="animal-type" id="animal-type-js">Animal/Bird type: </label>
                        <select name="animal-type" id="animal-type" required autocomplete="off" tabindex="3">
                            <option value="" th:each="o : ${birdAnimals}" th:text="${o}" th:value="${o}" id="select-default">Choose Bird/Animal Type</option>
                        </select><br>
                        <label for="animal-name" id="animal-name-js">Animal/Bird name: </label>
                        <input type="text" name="animal-name" id="animal-name" placeholder="Eg: Rufus (Optional)" autocomplete="off" tabindex="4"><br>
                        <label for="condition">Condition: </label>
                        <input type="text" name="condition" id="condition" placeholder="Eg: Broken Leg (Recommended)" autocomplete="off" tabindex="5">
                        <label for="case-photos">Upload Photos</label>
                        <input type="file" name="case-photos" id="case-photos" accept = "image/*" multiple>
                    </div>
                </div>
                <div id="form-right-side">
                    <div id="header-form-right-side">Contact Information</div>
                    <hr>
                    <div id="body-form-right-side">
                        <label for="contact-name">Name: </label>
                        <input type="text" name="contact-name" id="contact-name" autocomplete="off" tabindex="6"><br>
                        <label for="contact-name">Contact Number: </label>
                        <select id="nine-one" name ="nine-one">
                            <option value="+91">+91</option>
                            <option value="022">022</option>
                        </select>
                        <input type="number" name="contact-number" id="contact-number" placeholder="10 digit Mobile No. without prefix" required min="5000000000" max="9999999999" title="Ten digit mobile no. without any code" autocomplete="off" tabindex="7"><br>
                        <label for="location">Location: </label>
                        <textarea rows="2" cols="50" name="location" id="location" tabindex="8" maxlength="250"></textarea>
                        <input type="text" name="location-landmark" id="location-landmark" placeholder="Landmark - Eg: Near Regal Cinema" autocomplete="off" tabindex="9">
                        <input type="number" name="location-pincode" id="location-pincode" placeholder="Pincode - Eg: 400002" required autocomplete="off" tabindex="10">
                    </div>
                </div>
                <div>
                    <span id="error"></span>
                </div>

            </form>
            <div id="cta-btns">
                <button type="reset" id="reset-raise-case" form="raise-a-case-form" tabindex="12">Clear All</button>
                <button type="submit" id="submit-raise-case" form="raise-a-case-form" tabindex="11">Raise Case</button>
            </div>
        </div>

<!-------------------------------- MY-CASES-------------------------------------------->
        <div id="my-cases-content">
            <input type="search" placeholder="Search my Cases..." id="search-case-input" name="search-case-input">
            <div id="tab-header">
                <span id="active-tab-header" style="border-right: 1px solid #CCCCCC72;border-left: 1px solid #007AEA;">Active</span>
                <span id="recent-tab-header" style="border-right: 1px solid #CCCCCC72;border-left: 1px solid #CCCCCC72;">Recent</span>
                <span id="closed-tab-header" style="border-right: 1px solid #007AEA;border-left: 1px solid #CCCCCC72;">Closed</span>
            </div>
            <div id="tab-content">
                <div id="active-tab-content">
                    <div class="content-table" id="active-content-table">
                        <div style="display: flex; position: fixed; width: 68.5vw; font-size: 1.2em; background-color: rgb(248,248,248); font-weight: 500; padding-bottom: 1vh;border-bottom: 1px solid #CCC;">
                            <div class="sr-no-div">Sr. No.</div>
                            <div class="case-id-div">Case ID</div>
                            <div class="case-status-div">Case Status</div>
                            <div class="date-div">Date</div>
                            <div class="animal-type-div">Animal/Bird Type</div>
                            <div class="case-name-div">Animal/Bird Name</div>
                        </div>
                        <div class="my-cases-result" id="table1" style="width: 68.5vw;">
                            <div class ="row row1"> <div class="sr-no"><li></li></div> <div class="case-id">#Case_ID</div> <div class="case-status">#Case_Status</div> <div class="date">#Date</div> <div class="animal-type">#Animal/Bird_Type</div> <div class="case-name">#Animal/Bird_Name</div> </div>
                            <div class ="row row1"> <div class="sr-no"><li></li></div> <div class="case-id">#Case_ID</div> <div class="case-status">#Case_Status</div> <div class="date">#Date</div> <div class="animal-type">#Animal/Bird_Type</div> <div class="case-name">#Animal/Bird_Name</div> </div>
                            <div class ="row row1"> <div class="sr-no"><li></li></div> <div class="case-id">#Case_ID</div> <div class="case-status">#Case_Status</div> <div class="date">#Date</div> <div class="animal-type">#Animal/Bird_Type</div> <div class="case-name">#Animal/Bird_Name</div> </div>
                            <div class ="row row1"> <div class="sr-no"><li></li></div> <div class="case-id">#Case_ID</div> <div class="case-status">#Case_Status</div> <div class="date">#Date</div> <div class="animal-type">#Animal/Bird_Type</div> <div class="case-name">#Animal/Bird_Name</div> </div>
                        </div>
                    </div>
                </div>
                <div id="recent-tab-content">
                    <div class="content-table" id="recent-content-table">
                        <div style="display: flex; position: fixed; width: 71.5vw; font-size: 1.2em; background-color: rgb(248,248,248); font-weight: 500; padding-bottom: 0.5vh;border-bottom: 1px solid #CCC;">
                            <div class="sr-no-div">Sr. No.</div>
                            <div class="case-id-div">Case ID</div>
                            <div class="case-status-div">Case Status</div>
                            <div class="date-div">Date</div>
                            <div class="animal-type-div">Animal/Bird Type</div>
                            <div class="case-name-div">Animal/Bird Name</div>
                        </div>
                        <div class="my-cases-result" id="table2">
                            <div class ="row"> <div class="sr-no"><li></li></div> <div class="case-id">#Case_ID</div> <div class="case-status">#Case_Status</div> <div class="date">#Date</div> <div class="animal-type">#Animal/Bird_Type</div> <div class="case-name">#Animal/Bird_Name</div> </div>
                            <div class ="row"> <div class="sr-no"><li></li></div> <div class="case-id">#Case_ID</div> <div class="case-status">#Case_Status</div> <div class="date">#Date</div> <div class="animal-type">#Animal/Bird_Type</div> <div class="case-name">#Animal/Bird_Name</div> </div>
                        </div>
                    </div>
                </div>
                <div id="closed-tab-content">
                    <div class="content-table" id="closed-content-table">
                        <div style="display: flex; position: fixed; width: 71.5vw; font-size: 1.2em; background-color: rgb(248,248,248); font-weight: 500; padding-bottom: 0.5vh;border-bottom: 1px solid #CCC;">
                            <div class="sr-no-div">Sr. No.</div>
                            <div class="case-id-div">Case ID</div>
                            <div class="case-status-div">Case Status</div>
                            <div class="date-div">Date</div>
                            <div class="animal-type-div">Animal/Bird Type</div>
                            <div class="case-name-div">Animal/Bird Name</div>
                        </div>
                        <div class="my-cases-result" id="table3">
                            <div class ="row row1"> <div class="sr-no"><li></li></div> <div class="case-id">#Case_ID</div> <div class="case-status">#Case_Status</div> <div class="date">#Date</div> <div class="animal-type">#Animal/Bird_Type</div> <div class="case-name">#Animal/Bird_Name</div> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-------------------------------- USER-DATA-CHANGE-APPROVALS--------------------------------------->
        <div id="user-data-change-approvals-content">
            TEST!
        </div>
    </main>

    <section id="card-right-side">
        <div id="raise-a-case-side-card" tabindex="">
            <div id="rac-body">
                <img th:src="@{/img/raise-a-case.png}" src="/static/img/raise-a-case.png" alt="Raise a Case" class="right-side-card-img" width="" height="">
                <label for="right-side-card-img">Raise a Case</label>
            </div>
        </div>
        <div id="my-cases-side-card" tabindex="">
            <div id="myc-body">
                <img th:src="@{/img/my-cases1.png}" src="/static/img/my-cases1.png" alt="Raise a Case" class="right-side-card-img" width="" height="" style="left:-1.5vh;">
                <label for="right-side-card-img">My Cases</label>
            </div>
        </div>
        <div id="user-data-change-approvals-side-card" tabindex="">
            <div id="usdca-body">
                <img th:src="@{/img/user-data-change-approvals.png}" src="/static/img/user-data-change-approvals.png" alt="Raise a Case" class="right-side-card-img" width="" height="">
                <label for="right-side-card-img">Data Change Approvals</label>
            </div>
        </div>
    </section>

    <section>

    </section>

    <script>

//------Right-Side-Cards-Toggle-Display--------------------------------------------------------------------------------------
        document.getElementById('rac-body').onclick = function(){ 
            this.classList.add('right-side-card-rotate');
            document.getElementById('myc-body').classList.remove('right-side-card-rotate');
            document.getElementById('usdca-body').classList.remove('right-side-card-rotate');
            setTimeout(function(){ document.getElementById('rac-body').classList.remove('right-side-card-rotate'); }, 600);
            
            document.getElementById('raise-a-case-content').style.display = "block";
            document.getElementById('my-cases-content').style.display = "none";
            document.getElementById('user-data-change-approvals-content').style.display = "none";
            document.getElementById('heading-raise-a-case').style.display = "block";
            document.getElementById('heading-my-cases').style.display = "none";
            document.getElementById('heading-user-data-change-approvals').style.display = "none";
        }
        document.getElementById('myc-body').onclick = function(){ 
            this.classList.add('right-side-card-rotate');
            document.getElementById('rac-body').classList.remove('right-side-card-rotate');
            document.getElementById('usdca-body').classList.remove('right-side-card-rotate');
            setTimeout(function(){ document.getElementById('myc-body').classList.remove('right-side-card-rotate'); }, 600);

            document.getElementById('active-tab-header').classList.add('active-header');
            document.getElementById('raise-a-case-content').style.display = "none";
            document.getElementById('my-cases-content').style.display = "block";
            document.getElementById('user-data-change-approvals-content').style.display = "none";
            document.getElementById('heading-raise-a-case').style.display = "none";
            document.getElementById('heading-my-cases').style.display = "block";
            document.getElementById('heading-user-data-change-approvals').style.display = "none";
        }
        document.getElementById('usdca-body').onclick = function(){
            this.classList.add('right-side-card-rotate');
            document.getElementById('rac-body').classList.remove('right-side-card-rotate');
            document.getElementById('myc-body').classList.remove('right-side-card-rotate'); 
            setTimeout(function(){ document.getElementById('usdca-body').classList.remove('right-side-card-rotate'); }, 600);

            document.getElementById('raise-a-case-content').style.display = "none";
            document.getElementById('my-cases-content').style.display = "none";
            document.getElementById('user-data-change-approvals-content').style.display = "block";
            document.getElementById('heading-raise-a-case').style.display = "none";
            document.getElementById('heading-my-cases').style.display = "none";
            document.getElementById('heading-user-data-change-approvals').style.display = "block";
        }

//------Active-Recent-Closed-Tabs-JS--------------------------------------------------------------------------------
        document.getElementById('active-tab-header').onclick = function search_results(){
            this.classList.add('active-header');
            document.getElementById('recent-tab-header').classList.remove('active-header');
            document.getElementById('closed-tab-header').classList.remove('active-header');
            document.getElementById('recent-tab-header').classList.remove('tab-header-animation');
            document.getElementById('closed-tab-header').classList.remove('tab-header-animation');
            document.getElementById('active-tab-header').classList.add('tab-header-animation');
            document.getElementById('active-tab-content').classList.add('tab-content-animation');
            document.getElementById('recent-tab-content').classList.remove('tab-content-animation');
            document.getElementById('closed-tab-content').classList.remove('tab-content-animation');
            document.getElementById('active-tab-content').style.display = "block";
            document.getElementById('recent-tab-content').style.display = "none";
            document.getElementById('closed-tab-content').style.display = "none";
        }

        document.getElementById('recent-tab-header').onclick = function search_results(){
            this.classList.add('active-header');
            document.getElementById('active-tab-header').classList.remove('active-header');
            document.getElementById('closed-tab-header').classList.remove('active-header');
            document.getElementById('active-tab-header').classList.remove('tab-header-animation');
            document.getElementById('recent-tab-header').classList.add('tab-header-animation');
            document.getElementById('closed-tab-header').classList.remove('tab-header-animation');
            document.getElementById('active-tab-header').classList.remove('tab-content-animation');
            document.getElementById('active-tab-content').classList.remove('tab-content-animation');
            document.getElementById('recent-tab-content').classList.add('tab-content-animation');
            document.getElementById('recent-tab-content').style.display = "block";
            document.getElementById('closed-tab-content').style.display = "none";
            document.getElementById('active-tab-content').style.display = "none";
        }

        document.getElementById('closed-tab-header').onclick = function search_results(){
            this.classList.add('active-header');
            document.getElementById('active-tab-header').classList.remove('active-header');
            document.getElementById('recent-tab-header').classList.remove('active-header');
            document.getElementById('active-tab-header').classList.remove('tab-header-animation');
            document.getElementById('recent-tab-header').classList.remove('tab-header-animation');
            document.getElementById('closed-tab-header').classList.add('tab-header-animation');
            document.getElementById('active-tab-content').classList.remove('tab-content-animation');
            document.getElementById('recent-tab-content').classList.remove('tab-content-animation');
            document.getElementById('closed-tab-content').classList.add('tab-content-animation');
            document.getElementById('closed-tab-content').style.display = "block";
            document.getElementById('active-tab-content').style.display = "none";
            document.getElementById('recent-tab-content').style.display = "none";
        }

//------DropDown-Menu-JS--------------------------------------------------------------------------------
        var dropdown_menu_state = true;
        document.getElementById("more-btn").onclick = function dropdown_menu(){
            dropdown_menu_state = !dropdown_menu_state;
            if(dropdown_menu_state === true){
                alert("block");
                document.getElementById("dropdown-menu").style.display = "none";
            } else {
                alert("none");
                document.getElementById("dropdown-menu").style.display = "block";
            }
        };
        setTimeout(function(){ 
            document.body.onclick = function(){
                document.getElementById("dropdown-menu").style.display = "none";
            };
        }, 200);

//------Search-Focus-&-Clear-Table-on-Search---------------------------------------------------------------------------------------------
        document.getElementById('search-case-input').onfocus = function(){            
                document.getElementById('tab-header').style.display = "none";
                hideresults();
        };
        document.getElementById('search-case-input').addEventListener("focusout", function(){
            document.getElementById('tab-header').style.display = "";
            showresults();
        });

        function hideresults(){
            for (var i = 0; i < document.getElementsByClassName('row').length; i++){
            document.getElementsByClassName('row')[i].style.display = "none";
            }
        }

        function showresults(){
            for (var i = 0; i < document.getElementsByClassName('row').length; i++){
            document.getElementsByClassName('row')[i].style.display = "";
            }
        }

//------Bird-or-Animal-Affected-Changes-------------------------------------------------------------------------------------------------
        document.getElementById('bird-or-animal1').onclick = function(){
            document.getElementById('header-form-left-side').innerHTML = "Bird Information";
            document.getElementById('animal-type-js').innerHTML = "Bird Type";
            document.getElementById('animal-name-js').innerHTML = "Bird Name";
            document.getElementById('select-default').innerHTML = "Choose Bird Type";
            document.getElementById('animal-name').setAttribute("placeholder", "Eg: Cannary (Optional)");
        }

        document.getElementById('bird-or-animal2').onclick = function(){
            document.getElementById('header-form-left-side').innerHTML = "Animal Information";
            document.getElementById('animal-type-js').innerHTML = "Animal Type";
            document.getElementById('animal-name-js').innerHTML = "Animal Name";
            document.getElementById('select-default').innerHTML = "Choose Animal Type";
            document.getElementById('animal-name').setAttribute("placeholder", "Eg: Rufus (Optional)");
        }

//------Keyboard-Shortcuts---------------------------------------------------------------------------------------------------------------
        document.onkeyup = function(e) {
            if (e.ctrlKey && e.altKey && e.which == 83) {
                if(document.getElementById('heading-raise-a-case').style.display == "" || document.getElementById('heading-raise-a-case').style.display == "block"){
                    document.getElementById('submit-raise-case').click();
                }
                else alert("Ctrl + Alt + S is shortcut for Raising a Case");
            }
            if (e.ctrlKey && e.altKey && e.which == 82) {
                if(document.getElementById('heading-raise-a-case').style.display == "" || document.getElementById('heading-raise-a-case').style.display == "block"){
                    document.getElementById('reset-raise-case').click();
                }
                else alert("Ctrl + Alt + R is shortcut for Resetting all fields of a Case");
            }
        }

//------BACKEND-INTEGRATION-------------------------------------------------------------------------------------------------------------
        $(document).ready(function () {
            $('#myc-body').click(
                function() {
                    $.ajax({
                        type: 'GET', // define the type of HTTP verb we want to use (POST for our form)
                        url: '/activeCases', // the url where we want to POST
                        dataType: 'json' // what type of data do we expect back from the server
                        //encode: true
                    })
                        .done(function (data) {
                            // log data to the console so we can see
                            console.log(data);

                            $('#case-id').val(data);
                            setTimeout(function() { $('#case-id').val('');}, 2000);});
                }
            );
            // process the form
            $('#raise-a-case-form').submit(function (event) {

                // get the form data
                // there are many ways to get this data using jQuery (you can use the class or id also)
                var formData = {
                    'typeAnimal': $('select[name=animal-type]').val(),
                    'animalName': $('input[name=animal-name]').val(),
                    'animalCondition': $('input[name=condition]').val(),
                    'contactName': $('input[name=contact-name]').val(),
                    'contactNumber': $('input[name=contact-number]').val(),
                    'location': $('input[name=location]').val(),
                    'locationPincode': $('input[name=location-pincode]').val()
                };

                console.info("vimal : "+formData);

                // process the form
                $.ajax({
                    type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                    url: '/addNewCase', // the url where we want to POST
                    data: formData, // our data object
                    dataType: 'json' // what type of data do we expect back from the server
                    //encode: true
                })
                // using the done promise callback
                    .done(function (data) {
                        // log data to the console so we can see
                        console.log(data);
                        if(data &&  data == 'error') {
                            $('#error').text(data);
                        }


                        $('#raise-a-case-form')[0].reset();
                        $('#case-id').val(data);
                        setTimeout(function() {
                            $('#case-id').val('');}, 2000);



                // here we will handle errors and validation messages
                    });

                // stop the form from submitting the normal way and refreshing the page
                event.preventDefault();
            });

        });

/*-----Duplicate-ID's-----
        var allElements = document.getElementsByTagName("*"), allIds = {}, dupIDs = [];
        for (var i = 0, n = allElements.length; i < n; ++i) {
        var el = allElements[i];
        if (el.id) {
            if (allIds[el.id] !== undefined) dupIDs.push(el.id);
            allIds[el.id] = el.name || el.id;
            }
        }
        if (dupIDs.length) { console.error("Duplicate ID's:", dupIDs);} else { console.log("No Duplicates Detected"); }--------------*/
    </script>

</body>
</html>