<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Bird Helpline</title>

    <link href="/static/css/jquery/jquery-ui.theme.min.css" rel="stylesheet" th:href="@{/css/jquery/jquery-ui.theme.min.css(v=1550307657)}">
    <link href="/static/css/jquery/jquery-ui.structure.min.css" rel="stylesheet" th:href="@{/css/jquery/jquery-ui.structure.min.css(v=1550307657)}">
    <link href="/static/css/jquery/jquery-ui.min.css" rel="stylesheet" th:href="@{/css/jquery/jquery-ui.min.css(v=1550307657)}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/basic-template.css" rel="stylesheet" th:href="@{/css/basic-template.css(v=1550307657)}">
    <link href="/static/css/receptionist-dashboard.css" rel="stylesheet" th:href="@{/css/receptionist-dashboard.css(v=1550307657)}">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" th:src="@{/js/jquery-3.3.1.min.js(v=1550307657)}"></script> -->
    <script src="/static/js/jquery-3.3.1.min.js(v=1550307657)"></script>
    <script src="/static/js/jquery.ui.widget.js" th:src="@{/js/jquery.ui.widget.js(v=1550307657)}"></script>
    <script src="/static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js(v=1550307657)}"></script>
    <script src="/static/js/common.js" th:src="@{/js/common.js(v=1550307657)}"></script>
    <script src="/static/js/receptionist-dashboard.js" th:src="@{/js/receptionist-dashboard.js(v=1550307657)}"></script>
    <link rel="manifest" href="/static/icons/manifest.json" th:href="@{/icons/manifest.json(v=1550307657)}">
    <style type="text/css">
        .tg  { border-collapse:collapse;border-spacing:0;border-color:#aaa;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
        .tg .tg-baqh{text-align:center;vertical-align:top}
        .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
</head>
<body>
<div id="loading-gif"></div>
<div id="custom-alert-box">
    <div id="alert-box-heading">
        <span id="alert-box-span-heading">!Error</span>
        <span id="alert-box-close-btn">&times;</span>
    </div>
    <div id="alert-box-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente adipisci mollitia unde neque veniam totam sunt aliquid a, blanditiis repellat nulla architecto est. Quos veniam saepe atque, quidem ipsum voluptatibus. Perspiciatis amet sit unde. At odit perspiciatis adipisci autem esse, nobis magnam ab, maxime voluptatem cum itaque nam ad tempora vitae dolorem praesentium consequatur neque quasi veritatis repudiandae voluptatum? Voluptates incidunt nisi ratione error, commodi voluptatem alias minima officia nulla eligendi quia, cum ea quasi. Maiores laborum, impedit cupiditate a totam iste corrupti numquam fugiat beatae quaerat temporibus ex praesentium labore minus nulla cum veritatis reprehenderit eligendi eius ratione? Corporis?</div>
</div>

<nav class="no-select" id="top-nav">
        <span class="no-select" id="left-side">
            <button class="no-select" id="home-btn" type="button">
                <span class="fa fa-home fa-2x"></span>
                <span id="home-btn-txt">Home</span>
            </button>
            <span id="top-nav-search-wrapper">
                <input class="ui-autocomplete-input"  id="top-nav-search" name="top-nav-search" placeholder="Search Members..." type="search">
            </span>
        </span>
    <span class="no-select" id="right-side">
            <button id="user-dp-btn" type="button">
                <img alt="DP" height="20vw" src="/static/img/display-picture11.png" th:src="@{/img/display-picture11.png}" width="">
                <span id="user-name" th:text="${user.userName}">#User_Name</span>
            </button>
            <span id="more-btn">&#x25BC;</span>
        </span>
    <div class="no-select" id="dropdown-menu" style="display: none;">
        <button><a href="#">Profile</a></button>
        <button><a href="#">Change PIN</a></button>
        <button><a href="#">Change Mobile No.</a></button>
        <button><a href="#">Change Address</a></button>
        <button onclick="window.location.href='/logout'"><a href="#">Logout</a></button>
    </div>
</nav>

<main>
    <div id="heading-status_bar" class="no-select">
        <div id="heading-text">Raise a Case</div>
        <div id="back-close-btn-wrapper" class="back-close-btn-wrapper">
            <div id="back-button" class="no-select"><span class="fa fa-arrow-left"></span></div>
            <div id="close-button" class="no-select"><span class="fa fa-times"></span></div>
        </div>
    </div>
    <!---------------------------------Top-Nav-Search-Results---------------------------------->
    <div id="top-nav-search-content">
        <div id="top-nav-search-results">
            <div>
                <li class="search-li-user-profile-onclick" onclick="top_nav_search_user_profile();"><span class="top-nav-search-vol-name">#Vol_Name1</span> <span class="top-nav-search-vol-role">#Vol_Role</span></li>
                <li class="search-li-user-profile-onclick" onclick="top_nav_search_user_profile();"><span class="top-nav-search-vol-name">#Vol_Name2</span> <span class="top-nav-search-vol-role">#Vol_Role</span></li>
            </div>
        </div>
        <div class="no-select" id="case_profile" style="display: none">
            <div class="search-li-cases-header">
                <span class="">#Sr._No.</span>
                <span class="">#Case_ID</span>
                <span class="">#Case_Status</span>
                <span class="">#Date</span>
                <span class="">#Animal/Bird_Type</span>
                <span class="">#Animal/Bird_Name</span>
            </div>
            <div class="search-li-cases search-li-cases-onclick" onclick="/*case_details(this);*/ top_nav_search_case_details();
                document.getElementById('top-nav-search-heading-content').innerHTML = '#Search_Input - #Case_ID';
                document.getElementById('top-nav-search-results').style.display = 'none';
                document.getElementById('user-profile').style.display = 'none';
                document.getElementById('top-nav-search-user-profile-back-button').style.display = 'none';
                page_history.unshift('top_nav_search_cases_details');">
                <span>#Sr._No.</span>
                <span class="case-id" id="case_profile_id">#Case_ID</span>
                <span id="case_profile_status">#Case_Status</span>
                <span id="case_profile_date">#Date</span>
                <span id="case_profile_type">#Animal/Bird_Type</span>
                <span id="case_profile_name" >#Animal/Bird_Name</span>
            </div>
        </div>
        <div id="user-profile">
            <div id="user-profile-top-side">
                <span id="user-profile-left-side"><img alt="DP" height="" src="/static/img/display-picture11.png" th:src="@{/img/display-picture11.png}" width=""></span>
                <span id="user-profile-middle-side">
                    <div id="user-profile-middle-side_user_name">#User_Name</div>
                    <div id="user-profile-middle-side_user_role">#User_Role</div>
                </span>
                <span id="user-profile-right-side">
                    <table id="user-profile-right-side-table">
                        <tr>
                            <td>Cases Accepted &nbsp;</td>
                            <td>Cases Rejected</td>
                        </tr>
                        <tr>
                            <td id="user-profile-right-side-table_ac" >#304</td>
                            <td id="user-profile-right-side-table_rc">#15</td>
                        </tr>
                    </table>
                </span>
            </div>
            <div id="user-profile-main">
                <div id="user-profile-nav-links">
                    <button id="user-profile-basic-details-btn" type="button">Basic Details</button>
                    <button id="user-profile-user-cases-btn" type="button">#User_Name's Cases</button>
                </div>
                <div id="user-profile-about-content">
                    <div id="user-profile-about-left-side">
                        <div><span>Name: </span><span id="user-profile-name">#First_Last_Name</span></div>
                        <div><span>Date Of Birth: </span><span id="user-profile-dob">#DOB</span></div>
                        <div><span>Gender: </span><span id="user-profile-gender">#Gender</span></div>
                        <div><span>E-mail Address: </span><span id="user-profile-email">#Email@email.com</span></div>
                    </div>
                    <div id="user-profile-about-right-side">
                        <div class="user-profile-about-right-side-member">
                            <div class="home-work-address">
                                <h3 style="margin:0; font-size: 1em;">#Home/Work-Address(If-present)</h3>
                            </div>
                            <div id="huser-profile-address-line1" class="user-profile-address-line1">#Address-Line1</div>
                            <div id="huser-profile-address-line2" class="user-profile-address-line2">#Address-Line2</div>
                            <div id="huser-profile-address-pincode" class="user-profile-address-pincode">#Pincode</div>
                            <div  class="user-profile-contact-number">
                                <span id="huser-profile-contact-number_prefix" class="user-profile-nine-one-zero-two-two">#+91/022</span>
                                <span id="huser-profile-contact-number" class="user-profile-contact-number">#Contact_Number</span>
                            </div>
                        </div>
                        <div class="user-profile-about-right-side-member">
                            <div class="home-work-address">
                                <h3 style="margin:0; font-size: 1em;">#Home/Work-Address(If-present)</h3>
                            </div>
                            <div id="ouser-profile-address-line1" class="user-profile-address-line1">#Address-Line1</div>
                            <div id="ouser-profile-address-line2" class="user-profile-address-line2">#Address-Line2</div>
                            <div id="ouser-profile-address-pincode" class="user-profile-address-pincode">#Pincode</div>
                            <div class="user-profile-contact-number">
                                <span id="ouser-profile-contact-number_prefix" class="user-profile-nine-one-zero-two-two">#+91/022</span>
                                <span id="ouser-profile-contact-number" class="user-profile-contact-number">#Contact_Number</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="user-profile-cases-content">
                    <div id="user-profile-tab-header">
                        <span id="user-profile-active-tab-header" style="border-right: 1px solid #CCCCCC72;border-left: 1px solid #007AEA;">Active</span>
                        <span id="user-profile-recent-tab-header" style="border-right: 1px solid #CCCCCC72;border-left: 1px solid #CCCCCC72;">Recent</span>
                        <span id="user-profile-closed-tab-header" style="border-right: 1px solid #007AEA;border-left: 1px solid #CCCCCC72;">Closed</span>
                    </div>
                    <div id="user-profile-active-tab-content">
                        <div class="content-table" id="user-profile-active-content-table">
                            <div style="display: flex; position: fixed; width: 68.5vw; font-size: 1.2em; background-color: rgb(248,248,248); font-weight: 500; padding-bottom: 1vh;border-bottom: 1px solid #CCC;">
                                <div class="sr-no-div">Sr. No.</div>
                                <div class="case-id-div">Case ID</div>
                                <div class="case-status-div">Case Status</div>
                                <div class="accepted-div">Accepted</div>
                                <div class="date-div">Date</div>
                                <div class="animal-type-div">Animal/Bird Type</div>
                                <div class="case-name-div">Animal/Bird Name</div>
                            </div>
                            <div id="table11" class="my-cases-result" style="width: 68.5vw;">
                                <img src="/img/loading-simple.gif" id="table11_tab_content_loading" alt="Loading">
                            </div>
                        </div>
                    </div>
                    <div id="user-profile-recent-tab-content">
                        <div class="content-table" id="user-profile-recent-content-table">
                            <div style="display: flex; position: fixed; width: 68.5vw; font-size: 1.2em; background-color: rgb(248,248,248); font-weight: 500; padding-bottom: 1vh;border-bottom: 1px solid #CCC;">
                                <div class="sr-no-div">Sr. No.</div>
                                <div class="case-id-div">Case ID</div>
                                <div class="case-status-div">Case Status</div>
                                <div class="accepted-div">Accepted</div>
                                <div class="date-div">Date</div>
                                <div class="animal-type-div">Animal/Bird Type</div>
                                <div class="case-name-div">Animal/Bird Name</div>
                            </div>
                            <div id="table22" class="my-cases-result" style="width: 68.5vw;">
                                <img src="/img/loading-simple.gif" id="table22_tab_content_loading" alt="Loading">
                            </div>
                        </div>
                    </div>
                    <div id="user-profile-closed-tab-content">
                        <div class="content-table" id="user-profile-closed-content-table">
                            <div style="display: flex; position: fixed; width: 68.5vw; font-size: 1.2em; background-color: rgb(248,248,248); font-weight: 500; padding-bottom: 1vh;border-bottom: 1px solid #CCC;">
                                <div class="sr-no-div">Sr. No.</div>
                                <div class="case-id-div">Case ID</div>
                                <div class="case-status-div">Case Status</div>
                                <div class="accepted-div">Accepted</div>
                                <div class="date-div">Date</div>
                                <div class="animal-type-div">Animal/Bird Type</div>
                                <div class="case-name-div">Animal/Bird Name</div>
                            </div>
                            <div id="table33" class="my-cases-result" style="width: 68.5vw;">
                                <img src="/img/loading-simple.gif" id="table33_tab_content_loading" alt="Loading">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="top-nav-case-details">
            <div id="top-nav-case-details-form">
                <div id="top-nav-form-left-side-case-details">
                    <div id="header-top-nav-form-left-side-case-details">#Animal/Bird Information</div>
                    <hr>
                    <div id="body-top-nav-form-left-side-case-details">
                        <div id="top-nav-id-and-bird-type-case-details">
                            <label for="top-nav-case-id-case-details">Case ID </label>
                            <input autocomplete="off" disabled id="top-nav-case-id-case-details" name="top-nav-case-id-case-details" required type="number">
                        </div>
                        <label for="top-nav-animal-type" id="top-nav-animal-bird-type-case-details">#Animal/Bird type: </label>
                        <input disabled id="top-nav-animal-type-case-details" type="text"><br>
                        <label for="top-nav-animal-name-case-details" id="top-nav-animal-bird-name-case-details">#Animal/Bird name: </label>
                        <input disabled id="top-nav-animal-name-case-details" type="text"><br>
                        <label for="top-nav-condition-case-details">Condition: </label>
                        <input disabled id="top-nav-condition-case-details" type="text">
                        <label for="top-nav-case-photos-case-details">Photos Uploaded</label>
                        <div id="top-nav-case-photos-case-details">
                            <img src="/img/loading-simple.gif" class="top_nav_case_details_loading_screen" alt="Loading">
                        </div>
                    </div>
                </div>
                <div id="top-nav-form-right-side-case-details">
                    <div id="header-top-nav-form-right-side-case-details">Contact Information</div>
                    <hr>
                    <div id="body-top-nav-form-right-side-case-details">
                        <label>Name: </label>
                        <input autocomplete="off" disabled id="top-nav-contact-name-case-details" type="text"><br>
                        <label>Contact Number: </label>
                        <input disabled id="top-nav-nine-one-case-details" placeholder="" type="text">
                        <input autocomplete="off" disabled id="top-nav-contact-number-case-details" type="number"><br>
                        <label>Location: </label>
                        <textarea cols="50" disabled id="top-nav-location-case-details" rows="3"></textarea>
                        <label>Landmark </label>
                        <input autocomplete="off" disabled id="top-nav-location-landmark-case-details" type="text">
                        <label>Pincode </label>
                        <input disabled id="top-nav-location-pincode-case-details" type="number">
                    </div>
                </div>

                <div id="action-center-top-nav">
                    <div id="action-center-heading-top-nav" class="no-select">Action Center</div>
                    <div id="action-center-body-top-nav">
                        <a class="action-center-links no-select" id="action-center-top-nav-assign-case" >Assign Case</a>
                        <a class="action-center-links no-select" id="action-center-top-nav-close-case" >Close Case</a>
                        <a class="action-center-links no-select" id="action-center-top-nav-history-case" >History</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--------------------------------RAISE-A-CASE-------------------------------------------->
    <div id="raise-a-case-content">
        <form action="" id="raise-a-case-form" autocomplete="off">
            <div id="form-left-side">
                <div id="header-form-left-side">Bird/Animal Information</div>
                <hr>
                <div id="body-form-left-side">
                    <div id="id-and-bird-type">
                        <label for="case-id" style="width: auto;">Case ID </label>
                        <input autocomplete="off" disabled id="case-id" name="case-id" placeholder="" required type="number">
                        <div class="no-select">
                            <input id="bird-or-animal1" name="bird-or-animal" required tabindex="1" type="radio" value="Bird">
                            <label for="bird-or-animal1" id="bird-option"><img alt="Bird" height="auto" src="/static/img/bird1.png" th:src="@{/img/bird1.png}" width="50vw"></label>
                            <input id="bird-or-animal2" name="bird-or-animal" tabindex="2" type="radio" value="Animal">
                            <label for="bird-or-animal2" id="animal-option"><img alt="Animal" height="auto" src="/static/img/animal.png" th:src="@{/img/animal.png}" width="50vw"></label>
                        </div>
                    </div>
                    <label for="animal-type" id="animal-type-js">Bird/Animal type: </label>
                    <select autocomplete="off" id="animal-type" name="animal-type" required tabindex="3">
                        <option id="raise-a-case-select-default" value="">Choose Bird/Animal Type</option>
                        <option class ="select-bird-class" id="select-bird" th:each="o : ${birds}" th:text="${o}" th:value="${o}" value="" style="display:none"></option>
                        <option class="select-animal-class" id="select-animal" th:each="o : ${animals}" th:text="${o}" th:value="${o}" value="" style="display:none"></option>
                        <option id="add-new-bird-animal" value="add-new-bird-animal" style="display:none;">Other (Add)</option>
                    </select><br>
                    <input type="text" placeholder="Name to be added" style="display:none" name="add-bird-animal" id="add-bird-animal">
                    <label for="animal-name" id="animal-name-js">Bird/Animal name: </label>
                    <input autocomplete="off" id="animal-name" name="animal-name" placeholder="" tabindex="4" type="text"><br>
                    <label for="condition">Condition: </label>

                    <input autocomplete="off" id="condition" name="condition" placeholder="Eg: Broken Leg (Recommended)" tabindex="5" type="text">
                    <label for="case-photos">Upload Photos</label>
                    <input accept="image/*" id="case-photos" multiple name="case-photos" onchange="if (this.files.length > 3){alert('You can select maximum of 3 photos');this.value = ''} " type="file">
                </div>
            </div>
            <div id="form-right-side">
                <div id="header-form-right-side">Contact Information</div>
                <hr>
                <div id="body-form-right-side">
                    <label for="contact-name">Name: </label>
                    <input autocomplete="off" id="contact-name" name="contact-name" tabindex="6" type="text" required placeholder="(Mandatory)"><br>
                    <label for="contact-number">Contact Number: </label>
                    <select id="nine-one" name="nine-one">
                        <option value="+91">+91</option>
                        <option value="022">022</option>
                    </select>
                    <input autocomplete="off" id="contact-number" max="9999999999" min="5000000000" name="contact-number" placeholder="(Mandatory)" required tabindex="7" type="number"><br>
                    <label for="location">Location: </label>
                    <textarea cols="50" id="location" maxlength="250" name="location" rows="2" tabindex="8" placeholder="(Mandatory)" required></textarea>
                    <input autocomplete="off" id="location-landmark" name="location-landmark" placeholder="Landmark - Eg: Near Regal Cinema (Recommended)" tabindex="9" type="text">
                    <input autocomplete="off" id="location-pincode" max="500000" min="400000" name="location-pincode" placeholder="Pincode (Mandatory)" required tabindex="10" title="Please enter valid pincode" type="number">
                </div>
            </div>
            <div style = "background: forestgreen">
                <span id="error"></span>
            </div>

        </form>
        <div id="cta-btns">
            <div id="raise-a-case-success"><span id="raise-a-case-checkmark"> &check;</span> Success! Case raised</div>
            <div id="raise-a-case-error"><span id="raise-a-case-cross"> &times;</span> Error!</div>
            <button form="raise-a-case-form" id="submit-raise-case" tabindex="11" type="submit" onclick="/*submit_raise_a_case()*/">Raise Case</button>
            <button form="raise-a-case-form" id="reset-raise-case" tabindex="12" type="reset">Clear All</button>
            <div id="validationMessage" style="opacity:0;display: none"></div>
        </div>
    </div>

    <!------------------------------------MY-CASES-------------------------------------------->
    <div id="my-cases-content">
        <input id="search-case-input" name="search-case-input" placeholder="Search my Cases..." type="search">
        <div id="tab-header">
            <span id="active-tab-header" style="border-right: 1px solid #CCCCCC72;border-left: 1px solid #007AEA;">Active</span>
            <span id="recent-tab-header" style="border-right: 1px solid #CCCCCC72;border-left: 1px solid #CCCCCC72;">Recent</span>
            <span id="closed-tab-header" style="border-right: 1px solid #007AEA;border-left: 1px solid #CCCCCC72;">Closed</span>
        </div>
        <div id="tab-content">
            <div style="display: flex; position: fixed; width: 68.5vw; font-size: 1.2em; font-weight: 500; padding-bottom: 1vh; padding-top: 2vh;border-bottom: 1px solid #CCC; background-color: rgb(248,248,248);z-index: 3;">
                <div class="sr-no-div">Sr. No.</div>
                <div class="case-id-div">Case ID</div>
                <div class="case-status-div">Case Status</div>
                <div class="accepted-div">Accepted</div>
                <div class="date-div">Date</div>
                <div class="animal-type-div">Animal/Bird Type</div>
                <div class="case-name-div">Animal/Bird Name</div>
            </div>
            <div class="my-cases-result1" id="table4" style="width: 68.5vw;display: none; margin-top: 6vh;"></div>
            <div id="active-tab-content">
                <div class="content-table" id="active-content-table">
                    <div class="my-cases-result" id="table1" style="width: 68.5vw;text-align: center;">
                        <img src="/img/loading-simple.gif" id="table1_tab_content_loading" alt="Loading">
                    </div>
                </div>
            </div>
            <div id="recent-tab-content">
                <div class="content-table" id="recent-content-table">
                    <div class="my-cases-result" id="table2" style="width: 68.5vw;text-align: center;">
                        <img src="/img/loading-simple.gif" id="table2_tab_content_loading" alt="Loading">
                    </div>
                </div>
            </div>
            <div id="closed-tab-content">
                <div class="content-table" id="closed-content-table">
                    <div class="my-cases-result" id="table3" style="width: 68.5vw;text-align: center;">
                        <img src="/img/loading-simple.gif" id="table3_tab_content_loading" alt="Loading">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="case-details">
        <div id="case-details-form">
            <div id="form-left-side-case-details">
                <div id="header-form-left-side-case-details">#Animal/Bird Information</div>
                <hr>
                <div id="body-form-left-side-case-details">
                    <div id="id-and-bird-type-case-details">
                        <label for="case-id-case-details">Case ID </label>
                        <input autocomplete="off" disabled id="case-id-case-details" name="case-id-case-details" required type="number">
                    </div>
                    <label for="animal-type-case-details" id="animal-bird-type-case-details">#Animal/Bird type: </label>
                    <input disabled id="animal-type-case-details" type="text"><br>
                    <label for="animal-name-case-details" id="animal-bird-name-case-details">#Animal/Bird name: </label>
                    <input disabled id="animal-name-case-details" type="text"><br>
                    <label for="condition-case-details">Condition: </label>
                    <input disabled id="condition-case-details" type="text">
                    <label for="case-photos-case-details">Photos Uploaded</label>
                    <div id="case-photos-case-details">
                        <img src="/img/loading-simple.gif" id="myc_case_details_loading_screen" alt="Loading">
                    </div>
                </div>
            </div>
            <div id="form-right-side-case-details">
                <div id="header-form-right-side-case-details">Contact Information</div>
                <hr>
                <div id="body-form-right-side-case-details">
                    <label>Name: </label>
                    <input autocomplete="off" disabled id="contact-name-case-details" type="text"><br>
                    <label>Contact Number: </label>
                    <input disabled id="nine-one-case-details" placeholder="" type="text">
                    <input autocomplete="off" disabled id="contact-number-case-details" type="number"><br>
                    <label>Location: </label>
                    <textarea cols="50" disabled id="location-case-details" rows="3"></textarea>
                    <label>Landmark </label>
                    <input autocomplete="off" disabled id="location-landmark-case-details" type="text">
                    <label>Pincode </label>
                    <input disabled id="location-pincode-case-details" type="number">
                </div>
            </div>
            <div id="action-center">
                <div id="action-center-heading" class="no-select">Action Center</div>
                <div id="action-center-body">
                    <a class="action-center-links no-select" id="action-center-assign-case" >Assign Case</a>
                    <a class="action-center-links no-select" id="action-center-close-case" >Close Case</a>
                    <a class="action-center-links no-select" id="action-center-history-case" >History</a>
                </div>
            </div>
        </div>
        <div id="action-center-content">
            <div id="content-assign-case">
                <div id="assign-case-search">
                    <img src="/img/loading-simple.gif" id="assign_case_loading" alt="Loading" onkeyup="if(document.getElementById('assign-case-search-input').value === ''){document.getElementById('assign_case_loading').display = 'none'}">
                    <input class="ui-autocomplete-input" id="assign-case-search-input" name="assign-case-search-input" placeholder="Search..." type="search">
                    <div id="assign-case-search-body">
                        <div id="top-five">
                            <h2>Top Five Volunteers: </h2>
                            <ul class="top-five-and-nearest-and-search-results-ul" id="top_five_vol"></ul>
                        </div>
                        <div id="nearest-assigned-volunteers">
                            <h2>Nearest: </h2>
                            <ul class="top-five-and-nearest-and-search-results-ul" id="nearest_5_vol"></ul>
                        </div>
                    </div>
                    <div id="assign-case-search-results">
                        <ul class="top-five-and-nearest-and-search-results-ul" id="search_vol"></ul>
                    </div>
                    <div id="assign-case-status-bar">
                        <div id="assign-case-success"><span id="assign-case-success-checkmark"> &check;</span> Success! Case assigned successfully
                        </div>
                        <div id="assign-case-error"><span id="assign-case-error-cross"> &times;</span> Error!</div>
                    </div>
                </div>
            </div>
            <div id="vol-description-tooltip">
                <div id="tooltip-dp">
                    <img id="dp_image" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/User_font_awesome.svg" width="auto" height="70vh">
                    <div id="decoy-for-img"></div>
                </div>
                <div id="tooltip-info">
                    <div id="tooltip-info-name">#Vol_Name</div>
                    <div id="tooltip-info-role">#Vol_Role</div>
                    <div id="tooltip-info-address">
                        <div id="address-line1">#Address-Line1</div>
                        <div id="address-line2">#Address-Line2</div>
                        <div id="tooltip-pincode">#Pincode</div>
                    </div>
                    <div id="tooltip-info-tel-number">#Tel_Number</div>
                </div>
            </div>
            <div id="content-close-case">
                <div style="margin-top: 10vh;">
                    <div>
                        <span id="close-case-reason-span">Select reason:</span>
                        <select id="close-case-reason" name="closeCaseReason" required>
                            <option value="">Choose an Option:</option>
                            <option value="Dead">Dead</option>
                            <option value="Healthy">Healthy</option>
                            <option value="Other">Other</option>
                        </select>
                        <textarea cols="25" id="close-case-other-reason" name="closeRemark" placeholder="Specify Reason" rows="4"></textarea>
                    </div>
                    <div>
                        <button id="close-case-cancel-btn" onclick="navigate_back()">Cancel</button>
                        <button id="close-case-submit-btn">Close Case</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--------------------------------USER-DATA-CHANGE-APPROVALS------------------------------>

    <div id="dynamic_image_enlarge">
        <div id="photo-enlarge"><img src="/static/img/selected-photo.png" th:src="@{/img/selected-photo.png}"></div>
        <button id="image_enlarge_back_button" type="button">Back</button>
    </div>
    <div id="user-data-change-approvals-content">
        <div class="dynamic_usdca_member" id="member-1">
            <div class="user-info">
                <span class="usdca-user-name">#user_name</span>
                <span class="usdca-user-role">#user_role</span>
            </div>
            <div class="wrapper">
                <div class="old-photo">
                    <figure><img height="auto" src="/static/img/old-photo.png" th:src="@{/img/old-photo.png}" width="100%">
                        <figcaption>Old Photo</figcaption>
                    </figure>
                </div>
                <div class="new-photo">
                    <figure><img height="auto" src="/static/img/new-photo.png" th:src="@{/img/new-photo.png}" width="100%">
                        <figcaption>New Photo</figcaption>
                    </figure>
                </div>
                <button class="approve" type="button">
                    <figure><img height="auto" id="approve-img-1" src="/static/img/approved.png" th:src="@{/img/approved.png}" width="100%">
                        <figcaption>Approve</figcaption>
                    </figure>
                </button>
                <button class="reject" type="button">
                    <figure><img height="auto" id="reject-img-1" src="/static/img/rejected.png" th:src="@{/img/rejected.png}" width="100%">
                        <figcaption>Reject</figcaption>
                    </figure>
                </button>
            </div>
        </div>
        <div class="dynamic_usdca_member" id="member-2">
            <div class="user-info">
                <span class="usdca-user-name">#user_name</span>
                <span class="usdca-user-role">#user_role</span>
            </div>
            <div class="wrapper">
                <div class="old-photo">
                    <figure><img height="auto" src="/static/img/old-photo.png" th:src="@{/img/old-photo.png}" width="100%">
                        <figcaption>Old Photo</figcaption>
                    </figure>
                </div>
                <div class="new-photo">
                    <figure><img height="auto" src="/static/img/new-photo.png" th:src="@{/img/new-photo.png}" width="100%">
                        <figcaption>New Photo</figcaption>
                    </figure>
                </div>
                <button class="approve" type="button">
                    <figure><img height="auto" id="approve-img-2" src="/static/img/approved.png" th:src="@{/img/approved.png}" width="100%">
                        <figcaption>Approved</figcaption>
                    </figure>
                </button>
                <button class="reject" type="button">
                    <figure><img height="auto" id="reject-img-2" src="/static/img/rejected.png" th:src="@{/img/rejected.png}" width="100%">
                        <figcaption>Rejected</figcaption>
                    </figure>
                </button>
            </div>
        </div>
    </div>
    <div hidden id="history-dialog" title="Case History">
        <!--<p>This is the default dialog which is useful for displaying <i></i>nformation. The dialog window can be moved, resized and closed with the 'x' icon.</p>-->
        <table id="history-dialog-table"class="tg">

        </table>
    </div>
</main>

<section id="card-right-side">
    <div id="raise-a-case-side-card" tabindex="">
        <div id="rac-body">
            <img alt="Raise a Case" class="right-side-card-img" height="" src="/static/img/raise-a-case.png" th:src="@{/img/raise-a-case.png}" width="" id="right-side-card-img-rac">
            <label for="right-side-card-img-rac">Raise a Case</label>
        </div>
    </div>
    <div id="my-cases-side-card" tabindex="">
        <div id="myc-body">
            <img alt="Raise a Case" class="right-side-card-img" height="" src="/static/img/my-cases1.png" style="left:-1.5vh;" th:src="@{/img/my-cases1.png}" width="" id="right-side-card-img-myc">
            <label for="right-side-card-img-myc">My Cases</label>
        </div>
    </div>
    <div id="user-data-change-approvals-side-card" tabindex="">
        <div id="usdca-body">
            <img alt="Raise a Case" class="right-side-card-img" height="" src="/static/img/user-data-change-approvals.png" th:src="@{/img/user-data-change-approvals.png}" width="" id="right-side-card-img-usdca">
            <label for="right-side-card-img-usdca">Data Change Approvals</label>
        </div>
    </div>
</section>
</body>
</html>
