<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/basic-template.css}" href="/static/css/basic-template.css">
    <link rel="stylesheet" th:href="@{/css/Vol-dashboard.css}" href="/static/css/vol-dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body >

<!--<body th:object="${user}">-->
    <nav id="top-nav">
        <span id="profile-options">&#9776;</span>
        <span id="navbar-username" th:text="${user.userName}">#Username</span>
        <button type="button" id="user-dp">
            <img th:if="${user.image == null}"  th:src="@{/img/display-picture11.png}" src="/static/img/display-picture11.png"  width="" height="" alt="User-Display-Picture">
            <img th:if="${user.image != null}" th:src="${'data:image/png;base64,'+user.getEncodedImage()}" src="/static/img/display-picture11.png" width="auto" height="" alt="User-Display-Picture">
        </button>
    </nav>

    <nav id="side-nav">
        <section id="top-part">
            <div id="background-img">
                <img src="/static/img/side-nav-background-nav.png" th:src="@{/img/side-nav-background-nav.png}" alt="Side-Nav-Background" width="75vw" id="bg-image">
            </div>
            <span id="close-btn">&times;</span>
            <div id="side-nav-user-dp">
                <img th:if="${user.image == null}" th:src="@{/img/display-picture1.png}" src="/static/img/display-picture1.png" width="" height="auto" alt="Side-Nav-Display-Picture">
                <img th:if="${user.image != null}" th:src="${'data:image/png;base64,'+user.getEncodedImage()}" src="/static/img/display-picture1.png" width="" height="auto" alt="Side-Nav-Display-Picture">
            </div>
            <span id="user_name" th:text="${user.firstName} +' '+ ${user.lastName}">#First_Last_Name</span>
            <span id="user_role" th:text="${user.role}">#User_Role</span>
        </section>
        <section id="profile-links">
            <button><a href="#" >Profile</a></button>
            <!--<button><a href="#" th:href="@{}">Profile</a></button>-->
            <button><a href="#" >Selected Pincodes and Addresses</a></button>
            <!--<button><a href="#" th:href="@{}">Selected Pincodes and Addresses</a></button>-->
        </section>
        <section id="profile-changes">
            <button><a href="#" >Change PIN</a></button>
            <!--<button><a href="#" th:href="@{}">Change PIN</a></button>-->
            <button><a href="#" >Change Mobile No.</a></button>
            <!--<button><a href="#" th:href="@{}">Change Mobile No.</a></button>-->
            <button><a href="#" >Change Email Address</a></button>
            <!--<button><a href="#" th:href="@{}">Change Email Address</a></button>-->
        </section>
        <section id="social-links">
            <div style="font-size:1.3em; letter-spacing:0.75px">Spread the word!</div><br>
            <a class="fa fa-lg fa-facebook" href="https://www.facebook.com/birdhelpline/"></a>
            <a class="fa fa-lg fa-whatsapp"></a>
            <a class="fa fa-lg fa-twitter"></a>
        </section>
    </nav>

    <section id="page-heading">
        <h1>Welome, <span th:text="${user.firstName} +' '+ ${user.lastName}" id="#user_full_name">#First_Last_Name</span></h1>
        <span id="cases-accepted">246</span>
    </section>

    <section id="my-cases">
        <div class="search-case" id="search-case">
            <input type="search" placeholder="Search Case..." id="search-case-input" name="search-case-input">
            <div id="search-results-div">
                <div id="results-tab-div">
                    <span id="results-tab-active" class="active-active">Active</span>
                    <span id="results-tab-recent">Recent</span>
                    <span id="results-tab-closed">Closed</span>
                </div>
                <div id="results-content">
                    <div id="results-content-active" class="results-content-animation">#Active Cases</div>
                    <div id="results-content-recent">#Recent Cases</div>
                    <div id="results-content-closed">#Closed Cases</div>
                </div>
            </div>
        </div>
    </section>

    <section class="accept-case" id="accept-case">
        <div class="accept-case-shadow">
            <div id="heading-accept-case">Accept Case</div>
            <div id="case-details">
                <div id="case-id">#Case-ID</div>
                <span id="animal-type">#Animal_Type</span>
                <span id="animal-name">#Animal_Name</span>
                <div id="case-condition">Condition: Eg: Broken leg.</div>
                <div id="contact-info">
                    <span onclick="case_details();">Contact Information</span><span id="downward-arrow-animation" onclick="case_details();">&#x25BC;</span><br>
                    <span>Name: </span><span id="contact-name">#Name</span><br>
                    <span>Contact Number: </span><span id="contact-number">#Contact_Number</span><br>
                    <span>Location: </span><span id="contact-location">#Location</span>
                </div>
                <div id="accept-decline">
                    <button type="submit" id="accept">Accept</button>
                    <button type="submit" id="decline">I am helpless</button>
                    <span id="celebrations"><img src="/static/img/pigeon.jpg" th:src="@{/img/pigeon.png}" width="45vw" alt="Case-animal/bird"> Thank you! You just saved my life!</span>
                </div>
            </div>
        </div>
    </section>

    <section id="bottom-action-bar">
        <button type="button" class="action-bar-home-btn" id="home"><img src="/static/img/home-white.png" th:src="@{/img/home-white.png}" alt="home"></button>
        <button type="button" class="action-bar-home-btn" id="logout"><img src="/static/img/logout-white.png" th:src="@{/img/logout-white.png}" alt="logout"></button>
        <button type="button" class="action-bar-home-btn" id="contact-us"><img src="/static/img/contact-us-white.png" th:src="@{/img/contact-us-white.png}" alt="contact-us"></button>
    </section>

<!--<table>-->
    <!--<tr th:each="var : ${#vars}">-->
        <!--<td th:text="${var.key}"></td>-->
        <!--<td th:text="${var.value}"></td>-->
    <!--</tr>-->
<!--</table>-->

<script>
    $("#logout").on("click",function (e) {
        e.preventDefault();
        window.location.assign("/logout");
        // $.ajax({
        //     url: "/logout",
        //     method : "GET"
        //     }
        // )
    })
    document.getElementById('results-tab-active').onclick = function active_active(){
        this.classList.add('active-active');
        document.getElementById('results-tab-recent').classList.remove('active-recent');
        document.getElementById('results-tab-closed').classList.remove('active-closed');

        document.getElementById('results-content-active').style.display = "block";
        document.getElementById('results-content-recent').style.display = "none";
        document.getElementById('results-content-closed').style.display = "none";

        document.getElementById('results-content-active').classList.add('results-content-animation');
        document.getElementById('results-content-recent').classList.remove('results-content-animation');
        document.getElementById('results-content-closed').classList.remove('results-content-animation');
    }
    document.getElementById('results-tab-recent').onclick = function recent_active(){
        this.classList.add('active-recent');
        document.getElementById('results-tab-active').classList.remove('active-active');
        document.getElementById('results-tab-closed').classList.remove('active-closed');

        document.getElementById('results-content-recent').style.display = "block";
        document.getElementById('results-content-active').style.display = "none";
        document.getElementById('results-content-closed').style.display = "none";

        document.getElementById('results-content-active').classList.remove('results-content-animation');
        document.getElementById('results-content-recent').classList.add('results-content-animation');
        document.getElementById('results-content-closed').classList.remove('results-content-animation');
    }
    document.getElementById('results-tab-closed').onclick = function closed_active(){
        this.classList.add('active-closed');
        document.getElementById('results-tab-active').classList.remove('active-active');
        document.getElementById('results-tab-recent').classList.remove('active-recent');

        document.getElementById('results-content-closed').style.display = "block";
        document.getElementById('results-content-active').style.display = "none";
        document.getElementById('results-content-recent').style.display = "none";

        document.getElementById('results-content-active').classList.remove('results-content-animation');
        document.getElementById('results-content-recent').classList.remove('results-content-animation');
        document.getElementById('results-content-closed').classList.add('results-content-animation');
    }

    var anim_state = false;
    function case_details(){
        anim_state = !anim_state;
        if(anim_state === true){
            document.getElementById('case-details').style.height = "auto";
            window.scrollTo(0, document.body.scrollHeight);
            document.getElementById('downward-arrow-animation').innerHTML = "&#x25B2;";
        }
        else {
            document.getElementById('case-details').style.height = "100px";
            document.getElementById('downward-arrow-animation').innerHTML = "&#x25BC;";
        }
    }

    document.getElementById('accept').onclick = function accept(){
        document.getElementById('celebrations').style.display = "block";
        window.scrollTo(0, document.body.scrollHeight);
    }

    document.getElementById('decline').onclick = function decline(){
        document.getElementById('celebrations').style.display = "none";
        window.scrollTo(0, document.body.scrollHeight);
    }

    if(document.getElementById('cases-accepted').innerHTML > 200) {
        document.getElementById('cases-accepted').style.color = "burlywood";
    }

    document.getElementById('profile-options').onclick = function openSideNav(){
        document.getElementById('side-nav').style.display = "block";
        document.getElementById('side-nav').classList.add('side-nav-anim');
        document.getElementById('top-nav').style.opacity = "0.1";
        document.getElementById('page-heading').style.opacity = "0.1";
        document.getElementById('my-cases').style.opacity = "0.1";
        document.getElementById('accept-case').style.opacity = "0.1";
    };

    document.getElementById('close-btn').onclick = function closeSideNav(){
        document.getElementById('side-nav').classList.remove('side-nav-anim');
        document.getElementById('side-nav').style.display = "none";
        document.getElementById('page-heading').style.opacity = "1";
        document.getElementById('top-nav').style.opacity = "1";
        document.getElementById('my-cases').style.opacity = "1";
        document.getElementById('accept-case').style.opacity = "1";
    };
    
    window.onclick = function(e) {
        if ( !e.target.matches('#close-btn') && !e.target.matches('#profile-options') && !e.target.matches('#bottom-action-bar') ) {
            if( document.getElementById('side-nav').classList.contains('side-nav-anim') ){
                document.getElementById('side-nav').classList.remove('side-nav-anim');
                document.getElementById('side-nav').style.display = "none";
                document.getElementById('page-heading').style.opacity = "1";
                document.getElementById('top-nav').style.opacity = "1";
                document.getElementById('my-cases').style.opacity = "1";
                document.getElementById('accept-case').style.opacity = "1";
            }
        }
    }
</script>
</body>
</html>