<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Completion</title>
    <link rel="stylesheet" th:href="@{/css/basic-template.css}" href="/static/css/basic-template.css">
    <link rel="stylesheet" th:href="@{/css/Profile-Completion/profile-completion.css}" href="/static/css/Profile-Completion/profile-completion.css">
</head>
<body>

    <p id = "header">
        We need a few more details.
    </p>
    <main>
        <div id = "work-address">
            <form action="" method="POST">
                <p class = "title">Work Address:</p>

                <label for="address-line1">Full Name</label>
                <input type = "text" name = "full-name" placeholder="Full Name" autofocus>    
                <label for="address-line2">Street Address</label>
                <input type = "text" name = "address-line1" placeholder="Address Line 1">
                <input type = "text" name = "address-line2" placeholder="Adderss Line 2">
                <input type = "number" name = "pincode" placeholder="Pincode" required min="400000" max="450000">
                <label for="">Nature of Business</label>
                <input type = "text" name = "nature-of-business" placeholder="Eg. - Textiles" required>
                <button type = "submit" form="home-address-form" id = "next"><img th:src="@{/img/next-button21.png}" src="/static/img/next-button21.png" alt="next" ></button>
            </form>
        </div>
    </main>



</body>
</html>