<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Profile Completion</title>
    <link href="/static/css/basic-template.css" rel="stylesheet" th:href="@{/css/basic-template.css}">
    <link href="/static/css/Profile-Completion/profile-completion.css" rel="stylesheet" th:href="@{/css/Profile-Completion/profile-completion.css}">
    <link rel="manifest" href="/static/icons/manifest.json" th:href="@{/icons/manifest.json}">
    <script src="/static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body>

<p id="header">
    We need a few more details.
</p>
<div class="progress-bar" id="progress-bar">
    <div class="progress-bar-status" id="progress-bar-1">1</div>
    <div class="progress-bar-status" id="progress-bar-2"></div>
    <div class="progress-bar-status" id="progress-bar-3" style="color:white;">2</div>
    <div class="progress-bar-status" id="progress-bar-4"></div>
    <div id="progress-bar-5">3</div>
</div>
<main>
    <div id="work-address">
        <form action="" id="home-address-form" method="POST" name="home-address-form" th:action="@{/profileCompletion}" th:object="${user}">
            <p class="title">Work Address:</p>
            <label for="address-line1">Office Name</label>
            <input id="full-name" autofocus name="full-name" placeholder="Full Name" th:field="*{officeAddr.fullName}" type="text">
            <label for="address-line2">Street Address</label>
            <input id="address-line1" name="address-line1" placeholder="Address Line 1" th:field="*{officeAddr.addrLine1}" type="text">
            <input id="address-line2" name="address-line2" placeholder="Adderss Line 2" th:field="*{officeAddr.addrLine2}" type="text">
            <input id="pincode" max="450000" min="400000" name="pincode" placeholder="Pincode" required th:field="*{officeAddr.pincode}" type="number">
            <label for="nature-of-business">Nature of Business</label>
            <input id="nature-of-business" name="nature-of-business" placeholder="Eg. - Textiles" required th:field="*{officeAddr.natureBusiness}" type="text">
            <button form="home-address-form" id="next" type="submit"><img alt="next" src="/static/img/next-button21.png" th:src="@{/img/next-button21.png}"></button>
            <input name="page" type="hidden" value="2">
        </form>
    </div>
</main>

</body>
</html>