<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Completion</title>
    <link href="/static/css/basic-template.css" rel="stylesheet" th:href="@{/css/basic-template.css}">
    <link rel="stylesheet" href="/static/css/Profile-Completion/step3.css" th:href="@{/css/Profile-Completion/step3.css}">
    <!--Jquery-Imports-------------->
    <link href="/static/css/jquery/jquery-ui.theme.min.css" rel="stylesheet" th:href="@{/css/jquery/jquery-ui.theme.min.css}">
    <link href="/static/css/jquery/jquery-ui.structure.min.css" rel="stylesheet" th:href="@{/css/jquery/jquery-ui.structure.min.css}">
    <link href="/static/css/jquery/jquery-ui.min.css" rel="stylesheet" th:href="@{/css/jquery/jquery-ui.min.css}">
    <script src="/static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <!--<script src="/static/js/jquery.iframe-transport.js" th:src="@{/js/jquery.iframe-transport.js}"></script>-->
    <script src="/static/js/jquery.ui.widget.js" th:src="@{/js/jquery.ui.widget.js}"></script>
    <script src="/static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>    
    <!------------------------------->
</head>
<body>

<p id="heading">
    We need a few more details.
</p>
<main>
    <form action="" id="pincode" method="POST" name="pincode" th:action="@{/profileCompletion}" th:object="${user}">
        <div class="ui-widget" id="1pincode">
            <label for="search-pincode" id="title">Your preffered pick-up locations:</label>
        </div>
        <input class="ui-autocomplete-input" id="search-pincode" name="search-pincode" placeholder="Search Pincode" type="search">
        <div class="selected-pincodes" id="selected-pincodes">
            <p>Selected Pincodes:</p>
            <div id = "selected-pin-content">
                <ul id="selected-pincode-ul">
                </ul>
            </div>
        </div>
        <button form="pincode" id="next" type="submit">Submit</button>
    </form>
</main>

<script>
    $(document).ready(function () {
        let counter = 1;
        $("#search-pincode").autocomplete({
            //appendTo  : "#search-pincode-results",
            minLength: 2,
            delay: 500,
            //define callback to format results
            source: function (request, response) {
                $.getJSON("/getPinCodeLandMark", request, function (result) {
                    response($.map(result, function (item) {
                        return {
                            // following property gets displayed in drop down
                            label: item.landmark + " - " + item.pincode,
                            // following property gets entered in the textbox
                            value: item.pincodeId,
                            // following property is added for our own use
                            landmarks: item.landmark,
                            pincode: item.pincode
                        }

                    }));
                });
            },

            //define select handler
            select: function (event, ui) {
                var iCnt = 0;
                document.getElementById("selected-pincodes").style.display = "block";
                if (ui.item) {
                    //---------------function timings_create(){
                        document.getElementById("selected-pincode-ul").innerHTML += "<li><div><div>" + ui.item.landmarks + " - " + ui.item.pincode + "</div><div><input type=\"checkbox\" name=\"pincode-timing-check\" id=\"pincode-timing-check" + counter + "\" class=\"pincode-timing-check member" + counter + "\" onclick=\"select_timings_dropown(this)\"><label for=\"pincode-timing-check" + counter + "\">Specify Timings</label><select name = \"selectedTiming\" id=\"select-timings\" class=\"select-timings member" + counter + "\"><option>00-06</option><option>06-12</option><option>12-18</option><option>18-00</option></select></div></div></li>";
                        counter++;
                    //----------------------------------------}
                    $("#search-pincode").autocomplete("close");
                    $("#search-pincode").val('');
                    return false;
                }
            }
        });
    });

    function select_timings_dropown(this_t){
        console.log(this_t);
        let y = [this_t.className.split(' ')];
        let member_number = y[0][1];
        if(event.target.checked){
            document.getElementsByClassName(member_number)[1].style.display = "inline-block";
        }
        else {
            document.getElementsByClassName(member_number)[1].style.display = "none";
        }
    }
</script>
    
</body>
</html>