<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Profile Completion - Step 1</title>
    <link href="/static/css/basic-template.css" rel="stylesheet" th:href="@{/css/basic-template.css(v=1550307657)}">
    <link href="/static/css/Profile-Completion/profile-completion.css" rel="stylesheet" th:href="@{/css/Profile-Completion/profile-completion.css(v=1550307657)}">
    <link rel="manifest" href="/static/icons/manifest.json" th:href="@{/icons/manifest.json(v=1550307657)}">
    <script src="/static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js(v=1550307657)}"></script>
</head>
<body>

<p id="header">
    We need a few more details.
</p>
<div class="progress-bar" id="progress-bar">
    <div class="progress-bar-status" id="progress-bar-1">1</div>
    <div class="progress-bar-status" id="progress-bar-2"></div>
    <div id="progress-bar-3">2</div>
    <div id="progress-bar-4"></div>
    <div id="progress-bar-5">3</div>
</div>
<main>
    <div id="home-address">
        <form action="" id="home-address-form" method="POST" name="home-address-form" th:action="@{/profileCompletion}" th:object="${user}">
            <p class="title">Home Address:</p>
            <label for="address-line1">Full Name</label>
            <input autofocus id="full-name" name="full-name" placeholder="Full Name" th:name="homeAddr.fullName" th:value='${user.firstName +" "+user.lastName}' type="text">
            <label for="address-line2">Street Address</label>
            <input id="address-line1" name="address-line1" placeholder="Address Line 1" th:field="*{homeAddr.addrLine1}" type="text">
            <input id="address-line2" name="address-line2" placeholder="Adderss Line 2" th:field="*{homeAddr.addrLine2}" type="text">
            <input id="pincode" max="450000" min="400000" name="pincode" placeholder="Pincode" required th:field="*{homeAddr.pincode}" type="number">
            <label for="contact-number">Alternate Number</label><br>
            <select class="number-prefix" name="number-prefix" th:field="*{homeAddr.contactPrefix}" id="nine-one">
                <option value="+91">+91</option>
                <option value="022">022</option>
            </select>
            <input id="contact-number" name="contact" placeholder="" th:field="*{homeAddr.contact}" type="number"><br>
            <button form="home-address-form" id="next" type="submit"><img alt="next" src="/static/img/next-button21.png" th:src="@{/img/next-button21.png}"></button>
            <input name="page" type="hidden" value="1">
        </form>
    </div>
</main>

<script>
    function animation2() {
        document.getElementById('work-address').classList.add('work-address-end');
        setTimeout(function () {
            document.getElementById('pincode').style.display = "block";
            document.getElementById('pincode').classList.add('pincode-start');
        }, 0);
    }
</script>


</body>
</html>