.heading {
    padding: 5vw;
    text-align: start;
    background-color: #374047;
    color: white;
    font-size: 1.5em;
    z-index: 2;
}

main {
    box-sizing: border-box;
    padding-left: 5vw;
    text-align: start;
}

#step1, #step2, #step3 {
    margin-right: 5vw;
}

#step1 div {
    font-size: 1.3em;
}

#step1 img, #step2 img, #step3 img {
    height: 7vw;
    width: 5vw;
    float: right;
}

#step1 div, #step1 label, #step2 div, #step2 label {
    display: inline-block;
}

#step1 *, #step2 *, #step3 * {
    margin-top: 2.8vh;
}

#next {
    box-sizing: border-box;
    bottom: 7vw;
    width: 25vw;
    float: right;
    margin-left: 70vw;
}

input[type = "submit"] {
    background-color: #374047;
    color: white;
    border-radius: 5px;
    padding: 3vw;
    letter-spacing: 2px;
    font-size: 1em;
}

/*body * {
    border: 1px solid burlywood;
}*/