.heading {
    padding: 5vw;
    text-align: start;
    background-color: #374047;
    color: white;
    font-size: 1.5em;
    z-index: 2;
}

main {
    box-sizing: border-box;
    margin-top: 4vh;
    padding-left: 5vw;
    text-align: start;
    margin-right: 5vw;
}

.step-header {
    font-weight: bold;
    display: block;
}

#step1, #step2, #step3 {
    border: 1px solid #374047;
    margin-bottom: 2vh;
    min-height: 30px;
    padding: 3vw;
}

#step1 span {
    font-size: 1.2em;
}

#password {
    border: none;
    width:auto;
    font-size: 1em;
    letter-spacing: 1px;
    color: black;
    margin: 0;
    margin-top: 1vh;
    max-width: 50vw;
}
#show_pass {padding: 0;margin-top: 1vh;float: right;}

#step1 span, #step2 span, #step3 span {
    line-height: 5vh;
}

#step1 img, #step2 img, #step3 img {
    height: 7vw;
    width: 5vw;
    float: right;
}

#submitApplication {
    position: relative;
    box-sizing: border-box;
    margin-left: 70vw;
    background-color: #374047;
    color: white;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 1em;
}

@media only screen and (max-width: 360px) {
    body {
        font-size: 0.9em;
    }
}

/*body * {
    border: 1px solid burlywood;
}*/