.heading {
    box-sizing: border-box;
    padding: 5vw;
    text-align: start;
    background-color: #374047;
    color: white;
    font-size: 1.5em;
    z-index: 2;
}

.progress-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0;
    margin-top: 2vh;
    margin-left: 2vw;
    background-color: transparent;
    width: 50vw;
    height: 10vw;
    z-index: 2;
    text-align: center;
    font-size: 1.2em;
    margin-left: 25vw;
}

.progress-bar div {
    border: 1px solid #374047;
}

#progress-bar-1, #progress-bar-3, #progress-bar-5 {
    border-radius: 100%;
    color: white;
    line-height: 10vw;
}

#progress-bar-5 {
    color: #374047;
}

#progress-bar-3 {
    animation: Progressbar1 0.5s forwards 0s ease-in-out;
}

#progress-bar-2, #progress-bar-4 {
    margin-top: 49%;
    height: 2px;
    border-left: none;
    border-right: none;
}

#progress-bar-4 {
    animation: Progressbar1 0.5s forwards 0s ease-in-out;
}

.progress-bar-status {
    background-color: #374047;
    animation: Progressbar 0.5s forwards 0s ease-in-out;
}

@keyframes Progressbar {
    0% {
        transform: translateX(-70px);
        opacity: 0.1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes Progressbar1 {
    0% {
        transform: translateX(-50px);
        opacity: 0.1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* ------------------------------------------------------------------------------------------------------------------*/
main {
    margin-right: 0;
}
#step2 {
    box-sizing: border-box;
    text-align: start;
    padding: 0 0 0 10vw;
    z-index: 2;
}

form {
    box-sizing: border-box;
}

#fname, #lname, #email-id, #nine-one, #contact_number, #sec_answer, #securityquestion, #birthdate, input[type = "radio"] {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 3vw;
    background: transparent;
    margin-bottom: 2vh;
}
#sec_answer {margin-bottom: 0;}

input[type = "text"]:focus, input[name = "securityanswer"]:focus, input[name = "email"]:focus, input[name = "mobile"]:focus, select:focus, input[type = "date"]:focus {
    border: 1px solid black;
}

#fname, #lname {
    display: inline-block;
    margin-top: 3vh;
    width: 40.5vw;
    box-sizing: border-box;
}

#birth-date-div {
    box-sizing: border-box;
    width: 82.5vw;
    display: inline-block;
}

#birthdate {
    box-sizing: border-box;
    float: right;
    width: 41vw;
    padding: 3vw;
}

#nine-one {
    box-sizing: border-box;
    width: 15vw;
}

#contact_number {
    box-sizing: border-box;
    width: 64.25vw;
}

#email-id {
    box-sizing: border-box;
    width: 82.25vw;
    margin-bottom: 0;
}

p[id = "security-question"] {
    box-sizing: border-box;
    width: 82.25vw;
    font-size: 1.3em;
    border-bottom: 1px solid #374047;
    margin-top: 2vh;
    margin-bottom: 0;
}

p[id = "security-para"] {
    box-sizing: border-box;
    margin-top: 0;
    font-size: 1em;
    width: 82.25vw;
}

select {
    padding: 2vw;
    width: 82.25vw;
}

#sec_answer {
    box-sizing: border-box;
    padding-left: 3vw;
    width: 82.25vw;
    margin-bottom: -1vh;
}

#bottom-nav-bar {
    padding-left: 2vw;
}

#previous {
    width: 10vw;
    margin-left: 7vw;
}

#next {
    width: 10vw;
    margin-top: 2vh;
    margin-left: 58vw;
}

/*body * {
    border: 1px solid burlywood;
}*/

@media only screen and (max-width: 360px) {
    .heading {
        padding: 3vw;
        font-size: 1.2em;
    }

    #birthdate {
        font-size: 0.9em;
    }

    body {
        overflow-x: hidden;
        font-size: 1em;
    }

    #previous {
        padding-top: 0;
    }

    #next {
        padding-top: 0;
    }
    p[id = "security-para"] {
        font-size: 1.1em;
    }
    p[id = "security-question"] {
        font-size: 1.2em;
    }
}