.heading {
    padding: 5vw;
    text-align: start;
    background-color: #374047;
    color: white;
    font-size: 1.5em;
    z-index: 2;
  }
  
.progress-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0;
    margin-top: 2vh;
    margin-left: 2vw;
    background-color: transparent;
    width: 50vw;
    height: 10vw;
    z-index: 2;
    text-align: center;
    font-size: 1.2em;
    margin-left: 25vw;
}
  
.progress-bar div {
    border: 1px solid #374047;
    box-shadow: 3px 3px 3px #CCC;
}
  
#progress-bar-1, #progress-bar-3, #progress-bar-5 {
    border-radius: 100%;
    color: white;
    line-height: 10vw;
}

#progress-bar-3, #progress-bar-5 {
    animation: Progressbar1 0.5s forwards 0s ease-in-out;
}

#progress-bar-5 {
    animation: Progressbar2 0.5s forwards 0s ease-in-out;
}
  
#progress-bar-2, #progress-bar-4 {
    margin-top: 49%;
    height: 2px;
    border-left: none;
    border-right: none;
    box-shadow: 3px 3px 3px #CCC;
}
  
#progress-bar-4 {
    animation: Progressbar1 0.5s forwards 0s ease-in-out;
}
  
.progress-bar-status {
    background-color: #374047;
    animation: Progressbar 0.5s forwards 0s ease-in-out;
}
  
@keyframes Progressbar{
    0%{
        transform: translateX(-70px); opacity: 0.1;
        }
    100%{
        transform: translateX(0); opacity: 1;
        }
}
  
@keyframes Progressbar1{
    0%{
        transform: translateX(-60px); opacity: 0.1;
        }
    100%{
        transform: translateX(0); opacity: 1;
        }
}

@keyframes Progressbar2{
    0%{
        transform: translateX(-50px); opacity: 0.1;
        }
    100%{
        transform: translateX(0); opacity: 1;
        }
}

/* ------------------------------------------------------------------------------------------------------------------*/


#step3 {
    display: block;
    text-align: center;
    z-index: 2;
}

main {
    margin-left: 5vw;
}

ul {
    list-style: none;
    padding: 0;
    display: block;
    margin-top: 2vh;
    margin: 0;
    margin-left: 10vw;
}

ul li {
    box-sizing: border-box;
    position: relative;
    width: 70vw;
    color: rgb(255,0,0,0.8);
    padding: 2vw;
    font-size: 0.73em;
}

main div img {
    margin-top: 1.5vh;
    width : 15vh;
}

#dp-label-2 {
    font-size: 1em;
    display: block;
    font-size: 0.9em;
}

#dp-error {
    display: none;
    color: red;
    border: red;
}

main div {
    position: relative;
    text-align: center;
}

input[type = "text"], input[type = "password"]{
    box-sizing: border-box;
    width: 60vw;
    margin-top: 3vh;
    display: block;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 2vw;
    margin-left: 15vw;
    letter-spacing: 1px;
    font-size: 0.9em;
}

input[type = "password"]{
    margin-top: 1vh;
}

#warning {
    box-sizing: border-box;
    margin: 3vw;
    padding: 3vw;
    outline: rgb(0, 128, 0);
    background-color: rgba(144, 238, 144, 0.7);
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 0.85em;
}

.footer-btns {
    margin-top: 5vh;
}

.btn-group {
    float: right;
    top: 1vh;
    right: 3vw;
}

button {
    padding: 0;
    margin: 0;
}

.btn-group button {
    width: 20vw;
    padding: 2vw;
    padding-right: 18.5vw;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 300;
}

.btn-group button:first-child {
    background-color: #374047c9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
}

.btn-group button:nth-child(2) {
    background-color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}

#previous {
    box-sizing: border-box;
    width: 10vw;
    margin-top: 1vh;
    margin-left: -35vw;
}

        /*body * {
            border: 1px solid green;
        }*/

@media only screen and (max-width: 320px){
    main div img {
        padding-top: 1vh;
        width : 10vh;
    }
    #dp-label-2 {
        font-size: 0.7em;
    }
    input[type = "submit"]{
        font-size: 0.7em;
    }
    input[type = "text"]{
        font-size: 0.8em;
    }
    input[type = "password"]{
        font-size: 0.7em;
    }
    #warning {
        font-size: 0.65em;
    }
    .btn-group {
        font-size: 0.8em;
    }
    #previous {
        margin-top: 0vh;
    }
    .footer-btns {
        margin-top: 2vh;
    }
}

@media only screen and (min-width: 520px){
    main {
        font-size: 1.5em;
    }  
    .footer-btns .btn-group label {
        font-size: 1.7em;
    }
}

@media only screen and (min-height: 520px){
    main div img{
        margin-top: 4vh;
        width : 12vh;      
    }
}